# {{ ansible_managed }}

{% if autonomy_realm_identity_management_system == "ad" %}
auth_gssapi_hostname = "$ALL"
auth_krb5_keytab = "{{ autonomy_common_dovecot_keytab_path }}"
{% endif %}

{% if autonomy_dovecot_auth_use_winbind is truthy -%}
  auth_use_winbind = {{ autonomy_dovecot_auth_use_winbind }}
{% if autonomy_dovecot_auth_use_winbind is truthy -%}
  auth_winbind_helper_path = {{ autonomy_dovecot_winbind_helper_path }}
{% endif %}
{% endif %}
#auth_failure_delay = 2 secs
#auth_ssl_require_client_cert = no
#auth_ssl_username_from_cert = no

auth_mechanisms =
{%- for mechanism in autonomy_dovecot_auth_mechanisms -%}
  {{ " " }}{{ mechanism }}
{%- endfor %}

{% for config in autonomy_dovecot_auth_conf %}
  !include auth-{{ config.name }}.conf.ext
{% endfor %}

#!include auth-master.conf.ext
#!include auth-checkpassword.conf.ext
#!include auth-vpopmail.conf.ext
#!include auth-static.conf.ext
