# /etc/profile: system-wide .profile file for the Bourne shell (sh(1))
# and Bourne compatible shells (bash(1), ksh(1), ash(1), ...).

if [ "$(id -u)" -eq 0 ]; then
  PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
else
  PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games"
fi

# Application Specific PATHs
FSLINT="/usr/share/fslint/fslint"
FSLINTPATH="${FSLINT}:${FSLINT}/fstool"
if [ -d ${FSLINT} ] ; then
   PATH="${PATH}:${FSLINTPATH}"
fi

if [ -d "/usr/games" ]; then
  PATH="/usr/games/:$PATH"
fi
{% if inventory_hostname in groups['keycloak_servers'] %}
KEYCLOAK="{{ keycloak_home }}/bin/kcadm.sh"
KEYCLOAK_PATH="{{ keycloak_home }}/bin"
if [ -x ${KEYCLOAK} ]; then
   PATH="${PATH}:${KEYCLOAK_PATH}"
fi
{% endif %}
# set PATH so it includes user's private bin if it exists
if [ -d "${HOME}/.local/bin" ] ; then
    PATH="${HOME}/.local/bin:$PATH"
fi
if [ -d "${HOME}/.local/games" ] ; then
    PATH="$HOME/.local/games:$PATH"
fi
if [ -d "${HOME}/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi
if [ -d "${HOME}/games" ] ; then
    PATH="$HOME/games:$PATH"
fi

export PATH

if [ "${PS1-}" ]; then
  if [ "${BASH-}" ] && [ "$BASH" != "/bin/sh" ]; then
    # The file bash.bashrc already sets the default PS1.
    # PS1='\h:\w\$ '
    if [ -f /etc/bash.bashrc ]; then
      . /etc/bash.bashrc
    fi
  else
    if [ "$(id -u)" -eq 0 ]; then
      PS1='# '
    else
      PS1='$ '
    fi
  fi
fi

if [ -d /etc/profile.d ]; then
  for i in /etc/profile.d/*.sh; do
    if [ -r $i ]; then
      . $i
    fi
  done
  unset i
fi
