# {{ansible_managed|comment}}

deb https://archive.raspberrypi.org/debian/ {{ ansible_distribution_release }} main ui
# Uncomment line below then 'apt-get update' to enable 'apt-get source'
#deb-src https://archive.raspberrypi.org/debian/ {{ ansible_distribution_release }} main ui
