# {{ansible_managed|comment}}

deb https://archive.raspbian.org/raspbian/ {{ ansible_distribution_release }} main contrib non-free rpi
# Uncomment line below then 'apt-get update' to enable 'apt-get source'
#deb-src https://archive.raspbian.org/raspbian/ {{ ansible_distribution_release }} main contrib non-free rpi
