Name: SSS SmartCard authentication
Default: {{ sssd_pam_default }}
Priority: {{ sssd_pam_priority }}

Auth-Type: Primary
Auth:
	[success=end default=ignore]	pam_sss.so use_first_pass
Auth-Initial:
[success=end default=ignore]	{{ sssd_pam_auth_initial }}
Account-Type: Additional
Account:
	sufficient			pam_localuser.so
	[default=bad success=ok user_unknown=ignore]	pam_sss.so
Session-Type: Additional
Session-Interactive-Only: yes
Session:
	optional			pam_sss.so
Password-Type: Primary
Password:
	sufficient			pam_sss.so use_authtok
Password-Initial:
	sufficient			pam_sss.so
