[sssd]
services = nss, pam
config_file_version = 2
domains = {{ ansible_domain }}
debug_level = 0x4000
#dyndns_update_ptr = false

[pam]
{% if sssd_offline_credentials_expiration is defined -%}
  offline_credentials_expiration = {{ sssd_offline_credentials_expiration }}
{% endif %}
{% if sssd_offline_failed_login_attempts is defined -%}
  offline_failed_login_attempts = {{ sssd_offline_failed_login_attempts }}
{% endif %}
{% if sssd_offline_credentials_expiration == 0 -%}
  pam_pwd_expiration_warning = 0
{% else -%}
  pam_pwd_expiration_warning = {{ sssd_pam_pwd_expiration_warning }}
{% endif %}

[domain/{{ ansible_domain }}]
ad_server = zeus.{{ ansible_domain }}
krb5_store_password_if_offline = True
cache_credentials = True
krb5_realm = {{ rebeldream_realm }}
realmd_tags = manages-system joined-with-adcli 
id_provider = ad
ad_domain = {{ ansible_domain }}
use_fully_qualified_names = False
ldap_id_mapping = False
access_provider = ad
enumerate = true
{% if sssd_ad_gpo_access_control is defined %}
  ad_gpo_access_control = {{ sssd_ad_gpo_access_control }}
{% endif %}
{% if sssd_ldap_user_certificate is defined %}
  ldap_user_certificate = {{ sssd_ldap_user_certificate }}
{% endif %}
