# {{ ansible_managed }}
# Identity Certificate Request Configuration File

[ new_oids ]
# Ordinarily, certificates must have this oid as an enhanced key usage in order for Windows to allow them to be used as a login credential
scardLogin=1.3.6.1.4.1.311.20.2.2
# Used in a smart card login certificate's subject alternative name
msUPN={{ ownca_msupn_oid }}


[ req ]
default_bits            = 2048                  # RSA key size
encrypt_key             = yes                   # Protect private key
default_md              = sha1                  # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                   # Prompt for DN
distinguished_name      = identity_dn           # DN template
req_extensions          = identity_reqext       # Desired extensions

[ identity_dn ]
countryName             = "{{ loc_country_code }}"
stateOrProvinceName     = "{{ loc_st }}"
localityName            = "{{ loc_city }}"
organizationName        = "{{ ca_org_name }}"
organizationalUnitName  = "{{ ca_org_unit_name }}"
commonName              = "{{ item.given_name }} {% if item.surname is defined %}{{ item.surname }}{% endif %}"
emailAddress            = "{{ item.user_principal_name }}"

[ identity_reqext ]
basicConstraints=CA:FALSE
#crlDistributionPoints  = URI:$CRLDISTPT
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = emailProtection,clientAuth,{{ ownca_scardlogin }}
subjectKeyIdentifier    = hash
#authorityKeyIdentifyer  = keyid,issuer
subjectAltName          = "email:copy,otherName:{{ ownca_msupn_oid }};UTF8:{{ item.user_principal_name }}"
#issuerAltName           = issuer:copy

#nsCertType = client, email
nsComment           = "Smart Card Login Certificate"
#nsCaRevocationUrl       = $CRLDISTPT
#nsBaseUrl
#nsRevocationUrl
#nsRenewalUrl
#nsCaPolicyUrl
#nsSslServerName

