@REALUSERS = 
@SYSADMINS = 
@DEVELOPERS = 
@APPUSERS = 
@CREATORS01 = 
@CREATORS = @REALUSERS @SYSADMINS @DEVELOPERS @APPUSERS @CREATORS01
@APP = 

repo CREATOR/[a-z]..*
     C   = @CREATORS
     RW+ = CREATOR
     RW  = WRITERS
     R   = READERS

