# {{ ansible_managed }}

pinentry-program {{ dotfiles_gpg_pineentry_program }}

allow-loopback-pinentry
allow-emacs-pinentry

default-cache-ttl {{ dotfiles_gpg_default_cache_ttl }}
max-cache-ttl {{ dotfiles_gpg_default_max_cache_ttl }}
default-cache-ttl-ssh {{ dotfiles_gpg_default_cache_ttl_ssh }}
max-cache-ttl-ssh {{ dotfiles_gpg_default_max_cache_ttl_ssh }}

{% if dotfiles_gpg_enable_ssh_support -%}
  enable-ssh-support
{% endif %}
