{
  "metadata": {
    "signature_uri": "https://{{ autonomy_root_domain }}/pgp/keylist.json.asc",
    "comment": "The GPG Sync keylist"
  },
  "keys": [
{% for user in __realm_users %}
  {% if user.gpg_keys is defined %}
    {% for key in user.gpg_keys %}
      {
      {% if key.key_fingerprint is defined %}
        "fingerprint": "{{ key.key_fingerprint.split(' ') | join('')  }}",
        "name": "{{ key.name }}"
      {% endif %}
    }{{ "," if not loop.last else "" }}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% if autonomy_gpgsync_keylist is truthy %}
    ,
    {% for item in autonomy_gpgsync_keylist %}
      {
    "fingerprint": "{{ item.fingerprint }}",
      "name": "{{ item.name }}"
      }{{ "," if not loop.last else "" }}
    {% endfor %}
    {% endif %}
  ]
}
