# {{ ansible_managed }}

plugin {
{% if dovecot_sieve is defined %}
  sieve = {{ dovecot_sieve }}
{% endif %}
{% if dovecot_sieve_default is defined %}
  sieve_default = {{ dovecot_sieve_default }}
{% endif %}
{% if dovecot_sieve_default_name is defined %}
  sieve_default_name = {{ dovecot_sieve_default_name }}
{% endif %}
{% if dovecot_sieve_global is defined %}
  sieve_global = {{ dovecot_sieve_global }}
{% endif %}
{% if dovecot_sieve_discard is defined %}
  sieve_discard = {{ dovecot_sieve_discard }}
{% endif %}
{% for location in dovecot_sieve_before %}
  sieve_before{{ loop.index if not loop.first else "" }} = {{ location }}
{% endfor %}
{% for location in dovecot_sieve_after %}
  sieve_after{{ loop.index if not loop.first else "" }} = {{ location }}
{% endfor %}
{% if dovecot_sieve_extensions is defined %}
  sieve_extensions = {{ dovecot_sieve_extensions }}
{% endif %}
{% if dovecot_sieve_global_extensions is defined %}
  sieve_global_extensions = {{ dovecot_sieve_global_extensions }}
{% endif %}
{% if dovecot_sieve_plugins is defined %}
  sieve_plugins = {{ dovecot_sieve_plugins }}

  {% for mailbox in dovecot_imapsieve_mailboxes -%}
    imapsieve_mailbox{{ loop.index }}_name = {{ mailbox.name }}
    {% if mailbox.from is defined %}
      imapsieve_mailbox{{ loop.index }}_from = {{ mailbox.from }}
    {% endif %}
    imapsieve_mailbox{{ loop.index }}_causes = COPY
    imapsieve_mailbox{{ loop.index }}_{{ mailbox.timing }} = file:{{ dovecot_sieve_pipe_bin_dir }}/report-{{ mailbox.type }}.sieve

{% endfor %}
{% endif %}
{% if mail_recipient_delimiter is defined %}
  recipient_delimiter = {{ mail_recipient_delimiter }}
{% endif %}
{% if dovecot_sieve_max_script_size is defined %}
  sieve_max_script_size = {{ dovecot_sieve_max_script_size }}
{% endif %}
{% if dovecot_sieve_max_actions is defined %}
  sieve_max_actions = {{ dovecot_sieve_max_actions }}
{% endif %}
{% if dovecot_sieve_max_redirects is defined %}
  sieve_max_redirects = {{ dovecot_sieve_max_redirects }}
{% endif %}
{% if dovecot_sieve_quota_max_scripts is defined %}
  sieve_quota_max_scripts = {{ dovecot_sieve_quota_max_scripts }}
{% endif %}
{% if dovecot_sieve_quota_max_storage is defined %}
  sieve_quota_max_storage = {{ dovecot_sieve_quota_max_storage }}
{% endif %}
{% if dovecot_sieve_user_email is defined %}
  sieve_user_email = {{ dovecot_sieve_user_email }}
{% endif %}
{% if dovecot_sieve_user_log is defined %}
  sieve_user_log = {{ dovecot_sieve_user_log }}
{% endif %}
{% if dovecot_sieve_redirect_envelope_from is defined %}
  sieve_redirect_envelope_from = {{ dovecot_sieve_redirect_envelope_from }}
{% endif %}
{% if dovecot_sieve_trace_dir is defined %}
  sieve_trace_dir = {{ dovecot_sieve_trace_dir }}
{% endif %}
{% if dovecot_sieve_trace_level is defined %}
  sieve_trace_level = {{ dovecot_sieve_trace_level }}
{% endif %}
{% if dovecot_sieve_trace_debug is defined %}
  sieve_trace_debug = {{ dovecot_sieve_trace_debug }}
{% endif %}
{% if dovecot_sieve_trace_address is defined %}
  sieve_trace_address = {{ dovecot_sieve_trace_address }}
{% endif %}
}
