# {{ ansible_managed }}

hosts = dc.{{ rebeldream_domain }}:389
ldap_version = 3
auth_bind = yes
dn = cn={{ mail_user }},{{ rebeldream_user_dn }}
dnpass = {{ __mail_user_password }}
base = {{ rebeldream_user_dn }}
scope = subtree
deref = never
user_filter = (&(userPrincipalName=%u)(objectClass=person)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
pass_filter = (&(userPrincipalName=%u)(objectClass=person)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
pass_attrs = userPassword=password
default_pass_scheme = CRYPT
user_attrs = =uid={{ user_vmail_id_number }},=gid={{ user_vmail_id_number }},=home=/var/vmail/mail/%Ld/%Ln/Maildir/,=mail=maildir:/var/mail/vmail/%Ld/%Ln/Maildir/
tls=yes
