tokeninfo_url = https://auth.{{ autonomy_domain }}/auth/realms/{{ autonomy_org_unit_name | lower }}/protocol/openid-connect/userinfo?access_token=
introspection_url = https://{{ dovecot_oauth2_client }}:{{ dovecot_oauth2_secret}}@auth.{{ autonomy_domain }}/auth/realms/{{ autonomy_org_unit_name | lower }}/protocol/openid-connect/token/introspect
introspection_mode = post
debug = yes
rawlog_dir = /tmp/oauth2
username_attribute = email
tls_ca_cert_file = {{ autonomy_component_ca_chain_file }}
