{
    "keylists": [
        {
            "fingerprint": "{{ rebeldream_gpgsync_gpg_fingerprint }}",
            "url": "{{ rebeldream_gpgsync_keylist }}",
            "keyserver": "",
            "use_proxy": false,
            "proxy_host": "127.0.0.1",
            "proxy_port": "9050",
            "last_checked": "2021-02-17T03:04:31.682969",
            "last_synced": "2021-02-17T03:04:31.682974",
            "last_failed": null,
            "error": null,
            "warning": false
        }
    ],
    "run_automatically": true,
    "run_autoupdate": true,
    "last_update_check": null,
    "last_update_check_err": false,
    "update_interval_hours": "12",
    "automatic_update_use_proxy": false,
    "automatic_update_proxy_host": "127.0.0.1",
    "automatic_update_proxy_port": "9050"
}
