# $Id: screenrc,v 1.15 2003/10/08 11:39:03 zal Exp $
#
# {{ ansible_managed }}
#
# /etc/screenrc
#
#   This is the system wide screenrc.
#
#   You can use this file to change the default behavior of screen system wide
#   or copy it to ~/.screenrc and use it as a starting point for your own
#   settings.
#
#   Commands in this file are used to set options, bind screen functions to
#   keys, redefine terminal capabilities, and to automatically establish one or
#   more windows at the beginning of your screen session.
#
#   This is not a comprehensive list of options, look at the screen manual for
#   details on everything that you can put in this file.
#
# ==============================================================================

# ------------------------------------------------------------------------------
# SCREEN SETTINGS
# ------------------------------------------------------------------------------

# ==============================================================================
# VARIABLES - Boolean values (on/off)
# ==============================================================================
  autodetach            {{ autonomy_screen_autodetach }}
  crlf                  {{ autonomy_screen_crlf }}
  deflogin              {{ autonomy_screen_deflogin }}
  defnonblock           {{ autonomy_screen_defnonblock }}
  defsilence            {{ autonomy_screen_defsilence }}
  defutf8               {{ autonomy_screen_defutf8 }}
  hardcopy_append       {{ autonomy_screen_hardcopy_append }}
  nethack               {{ autonomy_screen_nethack }}
  startup_message       {{ autonomy_screen_startup_message }}
  vbell                 {{ autonomy_screen_vbell }}

# ===============================================================
# ESCAPE - the COMMAND CHARACTER
# ===============================================================
escape {{ autonomy_screen_escape }}

termcapinfo xterm-255color|xterm-color|screen-256color ti@:te@
termcapinfo xterm*|rxvt*|kterm*|Eterm* hs:ts=\E]0;:fs=\007:ds=\E]0;\007
termcapinfo xterm*|linux*|rxvt*|Eterm* OP
termcapinfo xterm 'is=\E[r\E[m\E[2J\E[H\E[?7h\E[?1;4;6l'

term screen-256color

# ===============================================================
# VARIABLES - Number values
# ===============================================================
  defscrollback         5000            # default: 100
# msgminwait            3               # default: 1
  silencewait           15              # default: 30

# ===============================================================
# VARIABLES - Paths and Files (esp. programs)
# ===============================================================
# bufferfile:   The file to use for commands
#               "readbuf" ('<') and  "writebuf" ('>'):
# bufferfile            $HOME/.screen_exchange
#
# hardcopydir:  The directory which contains all hardcopies.
# hardcopydir           ~/.hardcopy
# hardcopydir           ~/.screen
#
# shell:  Default process started in screen's windows.
# Makes it possible to use a different shell inside screen
# than is set as the default login shell.  Halleluja! :-)
# shell                 -zsh
# shell                 bash
# shell                 ksh

hardstatus alwayslastline
hardstatus string "%{= kG}[ %{G}%H %{g}][%= %{= w}%?%-Lw%?%{= R}%n*%f %t%?%{= R}(%u)%?%{= w}%+Lw%?%= %{= g}][%{B}%Y-%m-%d %{W}%c:%s %{g}]"

# ===============================================================
# Messages
# ===============================================================
  activity              "activity in %n (%t) [%w:%s]~"
  bell                  "bell     in %n (%t) [%w:%s]~"
  pow_detach_msg        "BYE"
  vbell_msg             " *beep* "

# ==============================================================
#  BIND bind - defaults
# ==============================================================
bind c screen 1
bind ^c screen 1
bind 0 select 10

# Remove some stupid / dangerous key bindings
bind ^k
#bind L
bind ^\

# Make them better
bind \\ quit
bind K kill
bind I login on
bind O login off
bind } history

 Use the function keys to switch among windows.
{# bindkey -k k1 select 1 #}
{# bindkey -k k2 select 2 #}
{# bindkey -k k3 select 3 #}
{# bindkey -k k4 select 4 #}
{# bindkey -k k5 select 5 #}
{# bindkey -k k6 select 6 #}
{# bindkey -k k7 select 7 #}
{# bindkey -k k8 select 8 #}
{# bindkey -k k9 select 9 #}
{# bindkey -k k; select 10 #}
bindkey -k F1 select 11
bindkey -k F2 select 12
# windows 13-24 are Shift-Fn.  May not work in all terminals.
bindkey -k F3 select 13
bindkey -k F4 select 14
bindkey -k F5 select 15
bindkey -k F6 select 16
bindkey -k F7 select 17
bindkey -k F8 select 18
bindkey -k F9 select 19
bindkey -k FA select 20
# screen only seems to understand up to FA.
#bindkey -k FB select 21
#bindkey -k FC select 22
#bindkey -k FD select 23
#bindkey -k FE select 24

# ===============================================================
# STARTUP of programs in an extra window:
# ===============================================================
screen  -t bash      1
screen  -t bash      2
screen  -t bash      3
screen  -t bash      4
screen  -t bash      5
screen  -t bash      6
screen  -t bash      7
screen  -t bash      8
screen  -t bash      9
screen  -t EDIT      10 /bin/bash --init-file /usr/local/bin/screenemacs
select 1
