# $Id: screenrc,v 1.15 2003/10/08 11:39:03 zal Exp $
#
# {{ansible_managed|comment}}
#
# /etc/screenrc
#
#   This is the system wide screenrc.
#
#   You can use this file to change the default behavior of screen system wide
#   or copy it to ~/.screenrc and use it as a starting point for your own
#   settings.
#
#   Commands in this file are used to set options, bind screen functions to
#   keys, redefine terminal capabilities, and to automatically establish one or
#   more windows at the beginning of your screen session.
#
#   This is not a comprehensive list of options, look at the screen manual for
#   details on everything that you can put in this file.
#
# ==============================================================================

# ------------------------------------------------------------------------------
# SCREEN SETTINGS
# ------------------------------------------------------------------------------

# ==============================================================================
# VARIABLES - Boolean values (on/off)
# ==============================================================================
  autodetach            on              # default: on
  crlf                  off             # default: off
  deflogin              off             # default: on
# defsilence            off             # default: off
  hardcopy_append       on              # default: off
  nethack               on              # default: off
  startup_message       off             # default: on   # Display the copyright page
  vbell                 off             # default: ???

# ===============================================================
# ESCAPE - the COMMAND CHARACTER
# ===============================================================
escape ^^^^  # suggested binding for emacs users

termcapinfo xterm-255color|xterm-color|screen-256color ti@:te@
termcapinfo xterm*|rxvt*|kterm*|Eterm* hs:ts=\E]0;:fs=\007:ds=\E]0;\007
termcapinfo xterm*|linux*|rxvt*|Eterm* OP
termcapinfo xterm 'is=\E[r\E[m\E[2J\E[H\E[?7h\E[?1;4;6l'

term screen-256color

# ===============================================================
# VARIABLES - Number values
# ===============================================================
  defscrollback         5000            # default: 100
# msgminwait            3               # default: 1
  silencewait           15              # default: 30

# ===============================================================
# VARIABLES - Paths and Files (esp. programs)
# ===============================================================
# bufferfile:   The file to use for commands
#               "readbuf" ('<') and  "writebuf" ('>'):
# bufferfile            $HOME/.screen_exchange
#
# hardcopydir:  The directory which contains all hardcopies.
# hardcopydir           ~/.hardcopy
# hardcopydir           ~/.screen
#
# shell:  Default process started in screen's windows.
# Makes it possible to use a different shell inside screen
# than is set as the default login shell.  Halleluja! :-)
# shell                 -zsh
# shell                 bash
# shell                 ksh

hardstatus alwayslastline
hardstatus string "%{= kG}[ %{G}%H %{g}][%= %{= w}%?%-Lw%?%{= R}%n*%f %t%?%{= R}(%u)%?%{= w}%+Lw%?%= %{= g}][%{B}%Y-%m-%d %{W}%c:%s %{g}]"

# ===============================================================
# Messages
# ===============================================================
  activity              "activity in %n (%t) [%w:%s]~"
  bell                  "bell     in %n (%t) [%w:%s]~"
  pow_detach_msg        "BYE"
  vbell_msg             " *beep* "

# ==============================================================
#  BIND bind - defaults
# ==============================================================
bind c screen 1
bind ^c screen 1
bind 0 select 10
# Remove some stupid / dangerous key bindings
bind ^k
#bind L
bind ^\
# Make them better
bind \\ quit
bind K kill
bind I login on
bind O login off
bind } history

# ===============================================================
# STARTUP of programs in an extra window:
# ===============================================================
screen  -t bash      1
screen  -t bash      2
screen  -t bash      3
screen  -t bash      4
screen  -t bash      5
screen  -t bash      6
screen  -t bash      7
screen  -t bash      8
screen  -t bash      9
screen  -t EDIT      10 /bin/bash --init-file /usr/local/bin/screenemacs
select 1
