dn: CN={{ user.given_name | default(user.username) }}{% if user.surname is defined %} {{ user.surname }}{% endif %},{{ rebeldream_user_dn }}
changetype: modify
add: userCertificate
userCertificate:< file:{{ user.username }}_{{ item }}.der
