# {{ ansible_maneged }}

mschap {
      winbind_username = "%{mschap:User-Name}"
        winbind_domain = "%{mschap:NT-Domain}"
    
  pool {
      start = ${thread[pool].start_servers}
    		min = ${thread[pool].min_spare_servers}
    		max = ${thread[pool].max_servers}
    		spare = ${thread[pool].max_spare_servers}
    		uses = 0
    		retry_delay = 30
    		lifetime = 86400
    cleanup_interval = 300
    	}

	passchange {
    }

}
