server_host      = dc.{{ ansible_domain }}
server_port      = 389
version          = 3
bind             = yes
bind_dn          = cn={{ ldap_mail_user | default(mail_user) }},cn=users,dc={{ ansible_domain.split('.')[0] }},dc={{ ansible_domain.split('.')[1] }},dc={{ ansible_domain.split('.')[2] }}
bind_pw          = {{ ldap_mail_user_password | default(mail_user_password) }}
search_base      = cn=users,dc={{ ansible_domain.split('.')[0] }},dc={{ ansible_domain.split('.')[1] }},dc={{ ansible_domain.split('.')[2] }}
scope            = sub
query_filter     = (&(objectclass=person)(userPrincipalName=%s))
result_attribute = mail
result_format    = %d/%u/Maildir/
debuglevel       = 0
start_tls        = yes
tls_require_cert = no
