# {{ ansible_managed }}

{{ 'server_host'.ljust(20) }}= dc.{{ rebeldream_domain }}
{{ 'server_port'.ljust(20) }}= 389
{{ 'version'.ljust(20) }}= 3
{{ 'bind'.ljust(20) }}= yes
{{ 'bind_dn'.ljust(20) }}= cn={{ __mail_user }},{{ rebeldream_user_dn }}
{{ 'bind_pw'.ljust(20) }}= {{ __mail_user_password }}
{{ 'search_base'.ljust(20) }}= cn=users,dc={{ rebeldream_org_unit_name }},dc={{ rebeldream_org_name }},dc={{ rebeldream_tld }}
{{ 'scope'.ljust(20) }}= {{ item.scope }}
{{ 'query_filter'.ljust(20) }}= {{ item.query_filter }}
{% if item.leaf_result_attribute is defined -%}
  {{ 'leaf_result_attribute'.ljust(20) }}= {{ item.leaf_result_attribute }}
{% endif %}
{{ 'result_attribute'.ljust(20) }}= {{ item.result_attribute }}
{% if item.result_format is defined -%}
  {{ 'result_format.ljust(20) }}= {{ item.result_format }}
{% endif %}
{{ 'debuglevel'.ljust(20) }}= {{ item.postfix_ldap_map_debug_level | default(postfix_ldap_map_debug_level) }}
{{ 'start_tls'.ljust(20) }}= yes
{{ 'tls_require_cert'.ljust(20) }}= no
