{{ ansible_managed | comment }}

{% if postfix_myorigin is defined -%}
  myorigin = {{ postfix_myorigin }}
{% endif %}

alias_maps =
{% for map in  postfix_alias_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
alias_database = {{ postfix_alias_database }}

append_dot_mydomain = {{ postfix_append_dot_mydomain }}
biff = {{ postfix_biff }}
delay_warning_time = {{ postfix_delay_warning_time }}
readme_directory = {{ postfix_readme_directory }}
{% if postfix_compatibility_level is defined -%}
  compatibility_level = {{ postfix_compatibility_level }}
{% endif %}
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}
{% if postfix_myorigin is defined -%}
  myorigin = {{ postfix_myorigin }}
{% endif %}
mailbox_size_limit = {{ postfix_mailbox_size_limit }}

{% if postfix_myhostname is defined -%}
  myhostname = {{ postfix_myhostname }}
{% endif %}
mydestination =
{% for destination in postfix_mydestination %}
  {{ destination }}{{ "," if not loop.last else "" }}
{% endfor %}
{% if postfix_mynetworks is defined -%}
  mynetworks =
  {% for network in postfix_mynetworks %}
    {{ network }}{{ "," if not loop.last else "" }}
  {% endfor %}
{% elif postfix_mynetworks_style is defined -%}
  mynetworks_style = {{ postfix_mynetworks_style }}
{% else -%}
  mynetworks_style = host
{% endif %}

unknown_address_reject_code = {{ postfix_unknown_address_reject_code }}
unknown_hostname_reject_code = {{ postfix_unknown_hostname_reject_code }}
unknown_client_reject_code = {{ postfix_unknown_client_reject_code }}

smtpd_use_tls = {{ postfix_smtpd_use_tls }}
smtpd_tls_session_cache_database = {{ postfix_smtpd_tls_session_cache_database }}
smtpd_tls_ask_ccert = {{ postfix_smtpd_tls_ask_ccert }}
smtpd_tls_cert_file = {{ postfix_smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_smtpd_tls_key_file }}
smtpd_tls_CAfile = {{ postfix_smtpd_tls_CAfile }}
smtpd_tls_ciphers = {{ postfix_smtpd_tls_ciphers }}
smtpd_tls_loglevel = {{ postfix_smtpd_tls_loglevel }}
smtpd_tls_session_cache_timeout = {{ postfix_smtpd_tls_session_cache_timeout }}
smtpd_tls_auth_only = {{ postfix_smtpd_tls_auth_only }}
smtpd_tls_received_header = {{ postfix_smtpd_tls_received_header }}
smtpd_banner = {{ postfix_smtpd_banner }}
smtpd_client_restrictions =
{% for restriction in postfix_smtpd_client_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
smtpd_helo_required = {{ postfix_smtpd_helo_required }}
smtpd_helo_restrictions =
{% for restriction in postfix_smtpd_helo_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
smtpd_sender_login_maps =
{% for map in postfix_smtpd_sender_login_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
smtpd_sender_restrictions =
{% for restriction in postfix_smtpd_sender_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
smtpd_recipient_restrictions =
{% for restriction in postfix_smtpd_recipient_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
{% if postfix_relay_domains is defined -%}
  relay domains =
  {% for domain in postfix_relay_domains %}
    {{ domain }}{{ "," if not loop.last else "" }}
  {% endfor %}
{% endif %}

smtpd_relay_restrictions =
{% for restriction in postfix_smtpd_relay_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
smtpd_sasl_path = {{ postfix_smtpd_sasl_path }}
smtpd_sasl_type = {{ postfix_smtpd_sasl_type }}
smtpd_sasl_auth_enable = {{ postfix_smtpd_sasl_auth_enable }}
smtpd_sasl_security_options = {{ postfix_smtpd_sasl_security_options }}
smtpd_sasl_tls_security_options = {{ postfix_smtpd_sasl_tls_security_options }}
smtpd_sasl_authenticated_header = {{ postfix_smtpd_sasl_authenticated_header }}
smtpd_sasl_local_domain = {{ postfix_smtpd_sasl_local_domain }}

smtp_tls_note_starttls_offer = {{ postfix_smtp_tls_note_starttls_offer }}
smtp_tls_session_cache_database = {{ postfix_smtp_tls_session_cache_database }}
smtp_tls_security_level = {{ postfix_smtp_tls_security_level }}
smtp_tls_wrappermode = {{ postfix_smtp_tls_wrappermode }}
smtp_sasl_auth_enable = {{ postfix_smtp_sasl_auth_enable }}
smtp_sasl_security_options = {{ postfix_smtp_sasl_security_options }}
smtp_sasl_password_maps = {{ postfix_smtp_sasl_password_maps }}
smtp_sender_dependent_authentication = {{ postfix_smtp_sender_dependent_authentication }}

tls_random_source = {{ postfix_tls_random_source }}
recipient_delimiter = {{ mail_recipient_delimiter }}
mailbox_transport = {{ postfix_mailbox_transport }}

{% if postfix_relay_host is defined -%}
  relayhost = {{ postfix_relay_host }}
{% endif %}
sender_dependent_relayhost_maps = {{ postfix_sender_dependent_relayhost_maps }}

canonical_maps = {{ postfix_canonical_maps }}
home_mailbox = {{ postfix_home_mailbox }}
{% if postfix_message_size_limit is defined -%}
  message_size_limit = {{ postfix_message_size_limit }}
{% endif %}
local_recipient_maps = {{ postfix_local_recipient_maps }}
virtual_alias_maps =
{% for map in postfix_virtual_alias_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
virtual_mailbox_domains =
{% for domain in postfix_virtual_mailbox_domains %}
  {{ domain }}{{ "," if not loop.last else "" }}
{% endfor %}

virtual_mailbox_maps =
{% for map in postfix_virtual_mailbox_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
virtual_transport = {{ postfix_virtual_transport }}

dovecot_destination_recipient_limit = {{ postfix_dovecot_destination_recipient_limit }}

milter_default_action = {{ postfix_milter_default_action }}
milter_connect_macros = {{ postfix_milter_connect_macros }}
non_smtpd_milters = {{ postfix_non_smtpd_milters }}
smtpd_milters =
{% for milter in postfix_smtpd_milters %}
  {{ milter }}{{ "," if not loop.last else "" }}
{% endfor %}

default_destination_concurrency_limit = {{ postfix_default_destination_concurrency_limit }}
disable_vrfy_command = {{ postfix_disable_vrfy_command }}
relay_destination_concurrency_limit = {{ postfix_relay_destination_concurrency_limit }}
transport_maps = {{ postfix_transport_maps }}

postscreen_access_list = {{ postfix_postscreen_access_list }}
postscreen_dnsbl_action = {{ postfix_postscreen_dnsbl_action }}
postscreen_dnsbl_sites =
{% for site in postfix_postscreen_dnsbl_sites %}
  {{ site }}{{ "," if not loop.last else "" }}
{% endfor %}
postscreen_greet_action = {{ postfix_postscreen_greet_action }}
