# {{ ansible_managed }}

{% if postfix_smtpd_banner != __postfix_smtpd_banner -%}
  smtpd_banner = {{ postfix_smtpd_banner }}
{% endif %}
{% if postfix_biff != __postfix_biff -%}
  biff = {{ postfix_biff }}
{% endif %}
{% if postfix_append_dot_mydomain != __postfix_append_dot_mydomain -%}
  append_dot_mydomain = {{ postfix_append_dot_mydomain }}
{% endif %}
{% if postfix_readme_directory != __postfix_readme_directory %}
  readme_directory = {{ postfix_readme_directory }}
{% endif %}
{% if postfix_delay_warning_time != __postfix_delay_warning_time -%}
  delay_warning_time = {{ postfix_delay_warning_time }}
{% endif %}
{% if postfix_compatibility_level != __postfix_compatibility_level -%}
  compatibility_level = {{ postfix_compatibility_level }}
{% endif %}
{% if postfix_smtp_header_checks != __postfix_smtp_header_checks -%}
  smtp_header_checks = regexp:/etc/postfix/smtp_header_checks
{% endif %}
smtpd_helo_required = {{ postfix_smtpd_helo_required }}

{% if postfix_maillog_file != __postfix_maillog_file -%}
  maillog_file = {{ postfix_maillog_file }}
{% endif %}

# TLS parameters
{% if postfix_smtpd_tls_chain_files != __postfix_smtpd_tls_chain_files -%}
smtpd_tls_chain_files =
{% for file in postfix_smtpd_tls_chain_files %}
  {{ file }}{{ "," if not loop.last else "" }}
  
{% endfor %}
{% else %}
{% if postfix_smtpd_tls_cert_file != __postfix_smtpd_tls_cert_file -%}
  smtpd_tls_cert_file = {{ postfix_smtpd_tls_cert_file }}
{% endif -%}
{% if postfix_smtpd_tls_CAfile != __postfix_smtpd_tls_CAfile -%}
  smtpd_tls_CAfile = {{ postfix_smtpd_tls_CA_file }}
{% endif -%}
smtpd_tls_key_file = {{ postfix_smtpd_tls_key_file }}
{% endif -%}
{%- if postfix_smtpd_use_tls != __postfix_smtpd_use_tls -%}
smtpd_use_tls = {{ postfix_smtpd_use_tls }}
{% endif -%}
{% if postfix_smtpd_tls_session_cache_database != __postfix_smtpd_tls_session_cache_database -%}
  smtpd_tls_session_cache_database = {{ postfix_smtpd_tls_session_cache_database }}
{% endif %}
{% if postfix_smtp_tls_session_cache_database != __postfix_smtp_tls_session_cache_database -%}
  smtp_tls_session_cache_database = {{ postfix_smtp_tls_session_cache_database }}
{% endif %}
{% if postfix_smtpd_tls_ask_ccert != __postfix_smtpd_tls_ask_ccert -%}
  smtpd_tls_ask_ccert = {{ postfix_smtpd_tls_ask_ccert }}
{% endif %}
{% if postfix_smtpd_tls_ciphers != __postfix_smtpd_tls_ciphers -%}
  smtpd_tls_ciphers = {{ postfix_smtpd_tls_ciphers }}
{% endif %}
{% if postfix_smtpd_tls_loglevel != __postfix_smtpd_tls_loglevel -%}
  smtpd_tls_loglevel = {{ postfix_smtpd_tls_loglevel }}
{% endif %}
{% if postfix_smtpd_tls_session_cache_timeout != __postfix_smtpd_tls_session_cache_timeout -%}
  smtpd_tls_session_cache_timeout = {{ postfix_smtpd_tls_session_cache_timeout }}
{% endif %}
{% if postfix_smtpd_tls_auth_only != __postfix_smtpd_tls_auth_only -%}
  smtpd_tls_auth_only = {{ postfix_smtpd_tls_auth_only }}
{% endif %}
{% if postfix_smtpd_tls_received_header != __postfix_smtpd_tls_received_header -%}
  smtpd_tls_received_header = {{ postfix_smtpd_tls_received_header }}
{% endif %}
{% if postfix_smtp_tls_note_starttls_offer != __postfix_smtp_tls_note_starttls_offer -%}
  smtp_tls_note_starttls_offer = {{ postfix_smtp_tls_note_starttls_offer }}
{% endif %}
{% if postfix_smtp_tls_security_level != __postfix_smtp_tls_security_level -%}
  smtp_tls_security_level = {{ postfix_smtp_tls_security_level }}
{% endif %}
{% if postfix_smtp_tls_wrappermode != __postfix_smtp_tls_wrappermode -%}
  smtp_tls_wrappermode = {{ postfix_smtp_tls_wrappermode }}
{% endif %}
{% if postfix_tls_random_source != __postfix_tls_random_source -%}
  tls_random_source = {{ postfix_tls_random_source }}
{% endif %}

# Network, hostname, interface definitions
{% if postfix_inet_interfaces != __postfix_inet_interfaces -%}
  inet_interfaces = {{ postfix_inet_interfaces }}
{% endif %}
{% if postfix_inet_protocols != __postfix_inet_protocols -%}
  inet_protocols = {{ postfix_inet_protocols }}
{% endif %}
{% if postfix_myorigin != __postfix_myorigin -%}
  myorigin = {{ postfix_myorigin }}
{% endif %}
{% if postfix_myhostname != __postfix_myhostname -%}
  myhostname = {{ postfix_myhostname }}
{% endif %}
{% if postfix_mydestination != __postfix_mydestination %}
mydestination =
{% for destination in postfix_mydestination %}
  {{ destination }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{# We need to use either mynetworks or mynetworks_style #}
{# We don't want to use both #}
{% if postfix_mynetworks != __postfix_mynetworks -%}
  mynetworks =
{% for network in postfix_mynetworks %}
  {{ network }}{{ "," if not loop.last else "" }}
{% endfor %}
{% elif postfix_mynetworks_style != __postfix_mynetworks_style -%}
  mynetworks_style = {{ postfix_mynetworks_style }}
{% else -%}
  mynetworks_style = hosts
{% endif %}

{# Reject Codes #}
{% if postfix_unknown_address_reject_code != __postfix_unknown_address_reject_code %}
unknown_address_reject_code = {{ postfix_unknown_address_reject_code }}
{% endif %}
{% if postfix_unknown_hostname_reject_code != __postfix_unknown_hostname_reject_code %}
unknown_hostname_reject_code = {{ postfix_unknown_hostname_reject_code }}
{% endif %}
{% if postfix_unknown_client_reject_code != __postfix_unknown_client_reject_code %}
unknown_client_reject_code = {{ postfix_unknown_client_reject_code }}
{% endif %}

# SMTPD settings
{% if postfix_smtpd_client_restrictions != __postfix_smtpd_client_restrictions %}
smtpd_client_restrictions =
{% for restriction in postfix_smtpd_client_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtpd_helo_restrictions != __postfix_smtpd_helo_restrictions %}
smtpd_helo_restrictions =
{% for restriction in postfix_smtpd_helo_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtpd_recipient_restrictions != __postfix_smtpd_recipient_restrictions %}
smtpd_recipient_restrictions =
{% for restriction in postfix_smtpd_recipient_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtpd_relay_restrictions != __postfix_smtpd_relay_restrictions %}
smtpd_relay_restrictions =
{% for restriction in postfix_smtpd_relay_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtpd_sender_restrictions != __postfix_smtpd_sender_restrictions %}
smtpd_sender_restrictions =
{% for restriction in postfix_smtpd_sender_restrictions %}
  {{ restriction }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}

# Relay Definitions
{% if postfix_relay_domains is truthy -%}
relay_domains =
{% for domain in postfix_relay_domains %}
  {{ domain }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_relay_host != __postfix_relay_host  -%}
relayhost =
{% for host in postfix_relay_host %}
    {{ host }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_sender_dependent_relayhost_maps != __postfix_sender_dependent_relayhost_maps %}
sender_dependent_relayhost_maps = {{ postfix_sender_dependent_relayhost_maps }}
{% endif %}

# SASL
{% if postfix_smtpd_sasl_path != __postfix_smtpd_sasl_path -%}
smtpd_sasl_path = {{ postfix_smtpd_sasl_path }}
{% endif %}
{% if postfix_smtpd_sasl_type != __postfix_smtpd_sasl_type -%}
smtpd_sasl_type = {{ postfix_smtpd_sasl_type }}
{% endif %}
{% if postfix_smtpd_sasl_auth_enable != __postfix_smtpd_sasl_auth_enable -%}
smtpd_sasl_auth_enable = {{ postfix_smtpd_sasl_auth_enable }}
{% endif %}
{% if postfix_smtpd_sasl_security_options != __postfix_smtpd_sasl_security_options -%}
smtpd_sasl_security_options =
{% for option in postfix_smtpd_sasl_security_options %}
  {{ option }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtpd_sasl_tls_security_options != __postfix_smtpd_sasl_tls_security_options -%}
smtpd_sasl_tls_security_options =
{% for option in postfix_smtpd_sasl_tls_security_options %}
  {{ option }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtpd_sasl_authenticated_header != __postfix_smtpd_sasl_authenticated_header -%}
smtpd_sasl_authenticated_header = {{ postfix_smtpd_sasl_authenticated_header }}
{% endif %}
{% if postfix_smtpd_sasl_local_domain != __postfix_smtpd_sasl_local_domain -%}
smtpd_sasl_local_domain = {{ postfix_smtpd_sasl_local_domain }}
{% endif %}
{% if postfix_smtp_sasl_auth_enable != __postfix_smtp_sasl_auth_enable -%}
smtp_sasl_auth_enable = {{ postfix_smtp_sasl_auth_enable }}
{% endif %}
{% if postfix_smtp_sasl_security_options != __postfix_smtp_sasl_security_options -%}
smtp_sasl_security_options =
{% for option in postfix_smtp_sasl_security_options %}
  {{ option }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtp_sasl_tls_security_options != __postfix_smtp_sasl_tls_security_options -%}
smtp_sasl_tls_security_options =
{% for option in postfix_smtp_sasl_tls_security_options %}
  {{ option }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtp_sasl_password_maps != __postfix_smtp_sasl_password_maps %}
smtp_sasl_password_maps = {{ postfix_smtp_sasl_password_maps }}
{% endif %}
{% if postfix_smtp_sender_dependent_authentication != __postfix_smtp_sender_dependent_authentication -%}
smtp_sender_dependent_authentication = {{ postfix_smtp_sender_dependent_authentication }}
{% endif %}

# Domains
{% if postfix_virtual_mailbox_domains != __postfix_virtual_mailbox_domains %}
virtual_mailbox_domains =
{% for domain in postfix_virtual_mailbox_domains %}
  {{ domain }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
# Users and Aliases
{% if postfix_canonical_maps != __postfix_canonical_maps %}
canonical_maps =
{% for map in postfix_canonical_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_local_recipient_maps != __postfix_local_recipient_maps %}
local_recipient_maps =
{% for map in postfix_local_recipient_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_virtual_alias_maps != __postfix_virtual_alias_maps %}
virtual_alias_maps =
{% for map in postfix_virtual_alias_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_smtpd_sender_login_maps != __postfix_smtpd_sender_login_maps %}
smtpd_sender_login_maps =
{% for map in postfix_smtpd_sender_login_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_alias_maps != __postfix_alias_maps -%}
alias_maps =
{% for map in  postfix_alias_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
alias_database = {{ postfix_alias_database }}
{% if mail_recipient_delimiter != __postfix_recipient_delimiter -%}
recipient_delimiter = {{ mail_recipient_delimiter }}
{% endif %}
# Mailboxes
{% if postfix_virtual_mailbox_maps != __postfix_virtual_mailbox_maps %}
virtual_mailbox_maps =
{% for map in postfix_virtual_mailbox_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}
{% if postfix_home_mailbox != __postfix_home_mailbox %}
home_mailbox = {{ postfix_home_mailbox }}
{% endif %}
{% if postfix_mailbox_transport != __postfix_mailbox_transport %}
mailbox_transport = {{ postfix_mailbox_transport }}
{% endif %}
{% if postfix_mailbox_size_limit != __postfix_mailbox_size_limit -%}
  mailbox_size_limit = {{ postfix_mailbox_size_limit }}
{% endif %}
{% if postfix_message_size_limit != __postfix_message_size_limit -%}
  message_size_limit = {{ postfix_message_size_limit }}
{% endif %}
{# ============================================================================================== #}
{#                                                                                                #}
{# I really need to investigate this more.  Postfix needs:                                        #}
{# line_length_limit = 4096 (maybe larger, how is this related to the size of the user's smart    #}
{# card keys?)                                                                                    #}
{#                                                                                                #}
{# Other configuration changes may negate this.                                                   #}
{#                                                                                                #}
{# Refs:                                                                                          #}
{# http://postfix.1071664.n5.nabble.com/GSSAPI-and-Success-as-a-error-code-td97224.html#a97241    #}
{#                                                                                                #}
{# ============================================================================================== #}
{% if groups['internal_zone'] is defined %}
{% if autonomy_smart_card_login and inventory_hostname in groups['internal_zone'] %}
{% if postfix_line_length_limit != __postfix_line_length_limit -%}
  line_length_limit = {{ postfix_line_length_limit }}
{% endif %}
{% endif %}
{% endif %}

# Misc
{% if postfix_virtual_transport != __postfix_virtual_transport %}
virtual_transport = {{ postfix_virtual_transport }}
{% endif %}
{% if inventory_hostname in groups['dovecot_servers'] %}
dovecot_destination_recipient_limit = {{ postfix_dovecot_destination_recipient_limit }}
{% endif %}
{% if postfix_default_destination_concurrency_limit != __postfix_default_destination_concurrency_limit %}
default_destination_concurrency_limit = {{ postfix_default_destination_concurrency_limit }}
{% endif %}
{% if postfix_disable_vrfy_command != __postfix_disable_vrfy_command %}
disable_vrfy_command = {{ postfix_disable_vrfy_command }}
{% endif %}
{% if postfix_relay_destination_concurrency_limit != __postfix_relay_destination_concurrency_limit %}
relay_destination_concurrency_limit = {{ postfix_relay_destination_concurrency_limit }}
{% endif %}
{% if postfix_transport_maps != __postfix_transport_maps %}
transport_maps =
{% for map in postfix_transport_maps %}
  {{ map }}{{ "," if not loop.last else "" }}
{% endfor %}
{% endif %}

# Milters
{% if postfix_milter_default_action != __postfix_milter_default_action %}
milter_default_action = {{ postfix_milter_default_action }}
{% endif %}
{% if postfix_milter_connect_macros != __postfix_milter_connect_macros %}
milter_connect_macros = {{ postfix_milter_connect_macros }}
{% endif %}
{% if postfix_smtpd_milters != __postfix_smtpd_milters %}
smtpd_milters =
{% for milter in postfix_smtpd_milters %}
  {{ milter }}{{ "," if not loop.last else "" }}
{% endfor %}
{% if postfix_non_smtpd_milters != __postfix_non_smtpd_milters -%}
  non_smtpd_milters = {{ postfix_non_smtpd_milters }}
{% endif %}
{% endif %}

# Postscreen
{% if postfix_postscreen_access_list != __postfix_postscreen_access_list -%}
  postscreen_access_list = {{ postfix_postscreen_access_list }}
{% endif %}
{% if postfix_postscreen_dnsbl_action != __postfix_postscreen_dnsbl_action -%}
  postscreen_dnsbl_action = {{ postfix_postscreen_dnsbl_action }}
{% endif %}
{% if postfix_postscreen_dnsbl_sites != __postfix_postscreen_dnsbl_sites -%}
postscreen_dnsbl_sites =
{% for site in postfix_postscreen_dnsbl_sites %}
  {{ site }}{{ "," if not loop.last else "" }}
{% endfor -%}
{% endif %}
{% if postfix_postscreen_greet_action != __postfix_postscreen_greet_action -%}
  postscreen_greet_action = {{ postfix_postscreen_greet_action }}
{% endif %}
