# {{ ansible_managed }}

{% for user in sasl_auth_users_list -%}
  {{ user.origin.ljust(20) }} {{ user.destination }}:{{ user.password }}
{% endfor %}
{{ sasl_auth_user.ljust(20) }} {{ sasl_auth_user }}:{{ sasl_auth_user_password }}

{{ relay_host.ljust(20) }}     {{ sasl_auth_user }}:{{ sasl_auth_user_password }}
