# {{ ansible_managed }}

{% for user in __postfix_sasl_auth_users_list -%}
  {{ user.origin.ljust(32) }} {{ postfix_relay_host[0] }}
{% endfor %}
{{ postfix_sasl_auth_user.ljust(32) }} {{ postfix_relay_host[0] }}
