# {{ ansible_managed }}

{# ============================================================================================== #}
{#                                                                                                #}
{# Global parameters                                                                              #}
{#                                                                                                #}
{# ============================================================================================== #}
[global]
netbios name = {{ autonomy_hostname | upper }}
realm = {{ autonomy_domain | upper }}
workgroup = {{ autonomy_org_unit_name | upper }}
{% if inventory_hostname in groups['samba_domain_controllers'] -%}
server role = active directory domain controller
server services = s3fs, rpc, nbt, wrepl, ldap, cldap, kdc, drepl, winbindd, ntp_signd, kcc, dnsupdate
idmap_ldb:use rfc2307 = yes
{% if autonomy_disable_kdc_fast is truthy %}
kdc enable fast = no
{% endif %}
{% else -%}
  security = {{ samba_security }}
{% endif %}

# Logging
max log size = 1000
log file = /var/log/samba/log.%m
log level = {{ samba_log_level }}
{# ============================================================================================== #}
{#                                                                                                #}
{# User Settings                                                                                  #}
{#                                                                                                #}
{# ============================================================================================== #}
username map = /etc/samba/user.map

{% if inventory_hostname in groups['samba_domain_controllers'] -%}
{# ============================================================================================== #}
{#                                                                                                #}
{# TLS Settings                                                                                   #}
{#                                                                                                #}
{# ============================================================================================== #}
tls enabled  = yes
tls certfile = {{ ownca_etc }}/certs/{{ autonomy_fqdn }}.pem
tls keyfile  = {{ ownca_etc }}/private/{{ autonomy_fqdn }}.key
#tls cafile = {{ ownca_etc }}/certs/{{ autonomy_org_name | lower }}-{{ autonomy_org_unit_name | lower }}-component.pem
#tls crlfile  = {{ ownca_etc }}/crls/{{ autonomy_org_name | lower }}-{{ autonomy_org_unit_name | lower }}-component.crl
tls dhparams file = {{ ownca_etc }}/dhparams/{{ autonomy_fqdn }}.pem
{% else %}
# Idmap Settings
# idmap config for ...
idmap config * : backend = tdb
idmap config * : range = 3000-7999
# idmap config for {{ autonomy_org_unit_name | upper }} domain
idmap config {{ autonomy_org_unit_name | upper }} : backend = ad
idmap config {{ autonomy_org_unit_name | upper }} : schema_mode = rfc2307
idmap config {{ autonomy_org_unit_name | upper }} : range = 100000-99999999
idmap config {{ autonomy_org_unit_name | upper }} : unix_nss_info = yes
idmap config {{ autonomy_org_unit_name | upper }} : unix_primary_group = yes

# Winbind Settings
winbind enum users = {{ winbind_enum_users }}
winbind enum groups = {{ winbind_enum_groups }}
winbind refresh tickets = {{ winbind_refresh_tickets }}

# ==================================================================================================
#
# Misc
#
# ==================================================================================================
# Used for SSH Single Sign On
dedicated keytab file = /etc/krb5.keytab
kerberos method = secrets and keytab
{% endif %}

{% if inventory_hostname in groups['samba_domain_controllers'] -%}
{# Shares #}
{% for share in __dc_samba_shares -%}
[{{ share.name }}]
path = {{ share.path }}
read only = No

{% endfor %}
{% else -%}
  {% if samba_shares is defined -%}
# Enable ACL Support
vfs objects = acl_xattr
map acl inherit = yes
acl_xattr: ignore system acls = yes
#inherit owner = unix only

# ==================================================================================================
#
# Share settings
#
# ==================================================================================================

{% for share in samba_shares -%}
  [{{ share.name }}]
  path = {{ share.path }}
  read only = No
  {% if share.extended_options is defined -%}
    {% for option in share.extended_options -%}
      {{ option }}
    {% endfor %}
  {% endif %}

{% endfor %}
{% endif %}
{% endif %}
