# {{ansible_managed|comment}}

deb https://archive.raspberrypi.org/debian/ {{ autonomy_raspberrypi_distribution_release }} main
{% if autonomy_use_source_code_repos %}
deb-src https://archive.raspberrypi.org/debian/ {{ autonomy_raspberrypi_distribution_release }} main
{% endif %}
