# {{ ansible_managed }}

server {
	listen 80{% if autonomy_nginx_default_server %} default_server{% endif %};
	listen [::]:80{% if autonomy_nginx_default_server %} default_server{% endif %};
  server_name {{ autonomy_fqdn }} {{ autonomy_hostname }};
  return 301 https://{{ autonomy_fqdn }}/$request_uri;
}

server {
	listen 443 ssl{% if autonomy_nginx_default_server %} default_server{% endif %};
  listen [::]:443 ssl{% if autonomy_nginx_default_server %} default_server{% endif %};

  include snippets/{{ autonomy_fqdn }}.conf;

	root /srv/www/{{ autonomy_fqdn }};

  server_name _;


{% if autonomy_nginx_proxy_pass is truthy %}
	location / {
		proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_pass {{ autuonomy_nginx_proxy_pass }};

	}
{% endif %}
}
