# {{ ansible_managed }}

VCS="{{ autonomy_etckeeper_vcs }}"
{% if autonomy_etckeeper_vcs == "git" -%}
    GIT_COMMIT_OPTIONS="{{ autonomy_etckeeper_git_commit_options }}"
{% elif autonomy_etckeeper_vcs == "hg" -%}
    HG_COMMIT_OPTIONS="{{ autonomy_etckeeper_hg_commit_options }}"
{% elif autonomy_etckeeper_vcs == "bzr" -%}
    BZR_COMMIT_OPTIONS="{{ autonomy_etckeeper_bzr_commit_options }}"
{% elif autonomy_etckeeper_vcs == "darcs" -%}
  DARCS_COMMIT_OPTIONS="{{ autonomy_etckeeper_darcs_commit_options }}"
{% endif %}
{# ============================================================================================== #}
{#                                                                                                #}
{# Etckeeper includes both a cron job and a systemd timer, which each                             #}
{# can commit exiting changes to /etc automatically once per day.                                 #}
{# To enable the systemd timer, run: systemctl enable etckeeper.timer                             #}
{# The cron job is enabled by default; to disable it, uncomment this next line.                   #}
{#                                                                                                #}
{# ============================================================================================== #}
{% if autonomy_etckeeper_avoid_daily_autocommits != __autonomy_etckeeper_avoid_daily_autocommits -%}
  AVOID_DAILY_AUTOCOMMITS={{ autonomy_etckeeper_avoid_daily_autocommits }}
{% endif %}
{# ============================================================================================== #}
{#                                                                                                #}
{# Uncomment the following to avoid special file warning                                          #}
{# (the option is enabled automatically for daily autocommits regardless).                        #}
{#                                                                                                #}
{# ============================================================================================== #}
{% if autonomy_etckeeper_avoid_special_file_warning != __autonomy_etckeeper_avoid_special_file_warning -%}
  AVOID_SPECIAL_FILE_WARNING={{ autonomy_etckeeper_avoid_special_file_warning }}
{% endif %}
{# ============================================================================================== #}
{#                                                                                                #}
{# Uncomment to avoid etckeeper committing existing changes to                                    #}
{# /etc before installation. It will cancel the installation,                                     #}
{# so you can commit the changes by hand.                                                         #}
{#                                                                                                #}
{# ============================================================================================== #}
{% if autonomy_etckeeper_avoid_commit_before_install != __autonomy_etckeeper_avoid_commit_before_install -%}
  AVOID_COMMIT_BEFORE_INSTALL={{ autonomy_etckeeper_avoid_commit_before_install }}
{% endif %}
{# ============================================================================================== #}
{#                                                                                                #}
{# The high-level package manager that's being used.                                              #}
{# (apt, pacman, pacman-g2, yum, dnf, zypper, apk etc)                                            #}
{#                                                                                                #}
{# ============================================================================================== #}
HIGHLEVEL_PACKAGE_MANAGER={{ autonomy_etckeeper_highlevel_package_manager }}
{# ============================================================================================== #}
{#                                                                                                #}
{# # The low-level package manager that's being used.                                             #}
{# # (dpkg, rpm, pacman, pacmatic, pacman-g2, apk etc)                                            #}
{#                                                                                                #}
{# ============================================================================================== #}
LOWLEVEL_PACKAGE_MANAGER={{ autonomy_etckeeper_lowlevel_package_manager }}
{# ============================================================================================== #}
{#                                                                                                #}
{# To push each commit to a remote, put the name of the remote here.                              #}
{# (eg, "origin" for git). Space-separated lists of multiple remotes                              #}
{# also work (eg, "origin gitlab github" for git).                                                #}
{#                                                                                                #}
{# ============================================================================================== #}
PUSH_REMOTE="{{ autonomy_etckeeper_push_remote }}"
