dn: olcDatabase={{ item.type }},cn=config
objectClass: olc{{ item.type | title }}Config
olcDatabase: {{ item.type }}
olcDbDirectory: /var/db/new-db
olcDbURI: {{ item.uri }}
olcSuffix: {{ openldap_basedn }}
olcDbProtocolVersion: {{ item.protocol_version }}
