# {{ ansible_managed }}
dn: cn=config
changetype: modify
add: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ autonomy_component_ca_chain_file }}
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: /etc/ssl/certs/{{ inventory_hostname }}.pem
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/ssl/private/{{ inventory_hostname }}.key
