[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
{% if autonomy_emacs_daemon_graphical -%}
  After=graphical-session.target
{% endif %}

[Service]
Type=forking
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
{% if autonomy_emacs_daemon_graphical -%}
  WantedBy=graphical-session.target
{% else %}
  WantedBy=default.target
{% endif %}
