# {{ ansible_managed }}

[defaults]
inventory            =
{%- for inventory in autonomy_ansible_default_host_list -%}
  {{ " " if loop.first else "" }}{{ inventory }}{{ "," if not loop.last else "" }}
{%- endfor %}

#library             = /usr/share/my_modules/
#module_utils        = /usr/share/my_module_utils/
#remote_tmp          = ~/.ansible/tmp
#local_tmp           = ~/.ansible/tmp
#plugin_filters_cfg  = /etc/ansible/plugin_filters.yml
#forks               = 5
#poll_interval       = 15
#sudo_user           = root
#ask_sudo_pass       = True
#ask_pass            = True
#transport           = smart
#remote_port         = 22
#module_lang         = C
#module_set_locale   = False

{% if autonomy_ansible_default_remote_user is defined -%}
  remote_user = {{ autonomy_ansible_default_remote_user}}
{% endif %}

gathering = {{ autonomy_ansible_gathering }}
#gather_subset = all
# gather_timeout = 10
# inject_facts_as_vars = True
# roles_path    = /etc/ansible/roles
host_key_checking = False
stdout_callback = {{ autonomy_ansible_stdout_callback }}
#callback_whitelist = timer, mail
#task_includes_static = False
#handler_includes_static = False
#error_on_missing_handler = True
#sudo_exe = sudo
#sudo_flags = -H -S -n
#timeout = 10

{% if autonomy_ansible_log_path is truthy -%}
  log_path = {{ autonomy_ansible_log_path }}
{% endif %}
#module_name = command
#executable = /bin/sh
#hash_behaviour = replace
#private_role_vars = yes
#jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n
#private_key_file = /path/to/file
{% if autonomy_ansible_vault_password_file is truthy -%}
  vault_password_file = {{ autonomy_ansible_vault_password_file }}
{% endif %}
#ansible_managed = Ansible managed
#display_skipped_hosts = True
#display_args_to_stdout = False
#error_on_undefined_vars = False
#system_warnings = True
#deprecation_warnings = True
# command_warnings = False

#action_plugins     = /usr/share/ansible/plugins/action
#cache_plugins      = /usr/share/ansible/plugins/cache
#callback_plugins   = /usr/share/ansible/plugins/callback
#connection_plugins = /usr/share/ansible/plugins/connection
#lookup_plugins     = /usr/share/ansible/plugins/lookup
#inventory_plugins  = /usr/share/ansible/plugins/inventory
#vars_plugins       = /usr/share/ansible/plugins/vars
#filter_plugins     = /usr/share/ansible/plugins/filter
#test_plugins       = /usr/share/ansible/plugins/test
#terminal_plugins   = /usr/share/ansible/plugins/terminal
#strategy_plugins   = /usr/share/ansible/plugins/strategy

#strategy = free
bin_ansible_callbacks = True
nocows = {{ autonomy_ansible_nocows }}
cow_selection = {{ autonomy_ansible_cow_selection }}
cowsay_enabled_stencils =
{%- for cow in autonomy_ansible_cowsay_enabled_stencils -%}
  {{ " " if loop.first else "" }}{{ cow }}{{ "," if not loop.last else "" }}
{%- endfor %}

nocolor = {{ autonomy_ansible_nocolor }}
#fact_caching = memory
#fact_caching_connection=/tmp
#retry_files_enabled = False
#retry_files_save_path = ~/.ansible-retry
#squash_actions = apk,apt,dnf,homebrew,pacman,pkgng,yum,zypper
#no_log = False
#no_target_syslog = False
#allow_world_readable_tmpfiles = False
#var_compression_level = 9
#module_compression = 'ZIP_DEFLATED'
#max_diff_size = 1048576
#merge_multiple_cli_flags = True
#show_custom_stats = True
#inventory_ignore_extensions = ~, .orig, .bak, .ini, .cfg, .retry, .pyc, .pyo
#network_group_modules=eos, nxos, ios, iosxr, junos, vyos
#allow_unsafe_lookups = False
#any_errors_fatal = False

{% if autonomy_ansible_interpreter_python is truthy -%}
  interpreter_python = {{ autonomy_ansible_interpreter_python }}
{% endif %}

[inventory]
enable_plugins =
{%- for plugin in autonomy_ansible_inventory_plugins -%}
  {{ " " if loop.first else "" }}{{ plugin }}{{ "," if not loop.last else "" }}
{%- endfor %}

#ignore_extensions = .pyc, .pyo, .swp, .bak, ~, .rpm, .md, .txt, ~, .orig, .ini, .cfg, .retry
#ignore_patterns=
#unparsed_is_failed=False

[privilege_escalation]
#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False

[paramiko_connection]
#record_host_keys=False
#pty=False
#look_for_keys = False
#host_key_auto_add = True

[ssh_connection]
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
#control_path_dir = ~/.ansible/cp
#control_path =
#pipelining = False
#scp_if_ssh = smart
#transfer_method = smart
#sftp_batch_mode = False
#use_tty = True
#retries = 3

[persistent_connection]
#connect_timeout = 30
#connect_retry_timeout = 15
#command_timeout = 10

[accelerate]
#accelerate_port = 5099
#accelerate_timeout = 30
#accelerate_connect_timeout = 5.0
#accelerate_daemon_timeout = 30
#accelerate_multi_key = yes

[selinux]
#special_context_filesystems=nfs,vboxsf,fuse,ramfs,9p
#libvirt_lxc_noseclabel = yes

[colors]
#highlight = white
#verbose = blue
#warn = bright purple
#error = red
#debug = dark gray
#deprecate = purple
#skip = cyan
#unreachable = red
#ok = green
#changed = yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan


[diff]
# always = no
# context = 3
