---
- name: "Include OS-specific variables."
  include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files: "{{ __os_variables_files }}"
      paths:
        - "vars"
  become: no

- name: "Include Family Tasks."
  include_tasks: "{{ ansible_os_family | lower }}.yml"
  when:
    - ansible_network_os is not defined

- name: "Include NetworkOS tasks."
  include_tasks: "{{ ansible_network_os.split('.')[2] | lower }}.yml"
  when:
    - ansible_network_os is defined
