# {{ ansible_managed }}
<VirtualHost *:80>
	ServerName {{ inventory_hostname }}

  # ACME Certificate
  DocumentRoot /srv/www/{{ inventory_hostname }}
  <Directory /srv/www/{{ inventory_hostname }}/.well-known/>
    Options +FollowSymLinks
    AllowOverride All
    <IfModule !mod_authz_core.c>
      Order allow,deny
      Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
      Require all granted
    </IfModule>
    DirectoryIndex index.html
  </Directory>

	Redirect / https://{{ inventory_hostname }}/
</VirtualHost>

<VirtualHost *:443>
	ServerName {{ inventory_hostname }}
	ServerAdmin webmaster@{{ inventory_hostname }}

	DocumentRoot /srv/www/{{ inventory_hostname }}

  <Directory /srv/www/{{ inventory_hostname }}>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews
    <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age={{ nextcloud_hosts_max_age }}; includeSubDomains"
    </IfModule>
    <IfModule mod_dav.c>
      Dav off
    </IfModule>

    Satisfy Any
  </Directory>

  SSLEngine on
  SSLCertificateFile "/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem"
  SSLCertificateKeyFile "/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem"
  SSLCertificateChainFile "/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem"

  ErrorLog ${APACHE_LOG_DIR}/{{ inventory_hostname }}/error.log
  CustomLog ${APACHE_LOG_DIR}/{{ inventory_hostname }}/access.log combined
</VirtualHost>
