<?php
$CONFIG = array (
  'instanceid' => '{{ item.instanceid }}',
  'passwordsalt' => '{{ item.passwordsalt }}',
  'secret' => '{{ item.secret }}',
  'trusted_domains' => 
  array (
    0 => '{{ item.name }}',
  ),
  'datadirectory' => '{{ nextcloud_data_directory }}',
  'dbtype' => 'mysql',
  'version' => '20.0.0.9',
  'overwrite.cli.url' => 'https://{{ item.name }}',
  'dbname' => '{{ item.db_name }}',
  'dbhost' => '{{ item.db_server }}',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ item.db_user }}',
  'dbpassword' => '{{ item.db_password }}',
  'installed' => true,
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'loglevel' >= 2,
  'maintenance' => false,
  'mail_from_address' => 'cloud',
  'mail_smtpmode' => 'smtp',
  'mail_sendmailmode' => 'smtp',
  'mail_domain' => '{{ rebeldream_root_domain }}',
  'mail_smtphost' => 'mail.{{ rebeldream_root_domain }}',
  'mail_smtpport' => '25',
);
