<?php
$CONFIG = array (
  'instanceid' => '{{ nextcloud_instanceid }}',
  'passwordsalt' => '{{ nextcloud_passwordsalt }}',
  'secret' => '{{ nextcloud_secret }}',
  'trusted_domains' => 
  array (
    0 => '{{ inventory_hostname }}',
  ),
  'datadirectory' => '{{ nextcloud_data_directory }}/{{ inventory_hostname }}',
  'dbtype' => '{{ nextcloud_database }}',
  'version' => '{{ nextcloud_version }}',
  'overwrite.cli.url' => 'https://{{ autonomy_fqdn }}/',
  'htaccess.RewriteBase' => '/',
  'dbname' => '{{ nextcloud_db_name }}',
  'dbhost' => '{{ nextcloud_db_server }}',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ nextcloud_db_user }}',
  'dbpassword' => '{{ nextcloud_db_password }}',
  'installed' => true,
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'loglevel' >= 2,
  'maintenance' => false,
  'mail_from_address' => 'cloud',
  'mail_smtpmode' => 'smtp',
  'mail_sendmailmode' => 'smtp',
  'mail_domain' => '{{ autonomy_root_domain }}',
  'mail_smtphost' => 'mail.{{ autonomy_root_domain }}',
  'mail_smtpport' => '25',
  'default_phone_region' => 'US',
 );
