# {{ ansible_managed }}

require ["variables", "envelope", "subaddress", "mailbox","regex"];
global ["level1", "level2", "level3", "level4", "level5", "level6", "level7"];
# ==================================================================================================
#
# Google
#
# mail-noreply@google.com
# noreply-daa26fef@plus.google.com
# notifications-googleplay@google.com
# privacy-noreply@google.com
# no-reply@accounts.google.com
#
# ==================================================================================================
if anyof (
          address :contains "from" "google.com",
          address :contains "from" "googlemail.com",
          )
{
  set "level1" "Businesses";
  set "level2" "Google";
}

if anyof (
          address :is "from" "no-reply@accounts.google.com",
          address :is "from" "googleaccount-noreply@google.com",
          address :is "from" "gmail-noreply@google.com",
          address :is "from" "forwarding-noreply@google.com",
          address :is "from" "noreply-716d5b22@plus.google.com",
          address :is "from" "accounts-noreply@google.com",
          address :is "from" "noreply-google-plus@google.com",
          address :is "from" "privacy-noreply@policies.google.com",
          address :is "from" "privacy-noreply@google.com"
          )
{
  set "level3" "Account";
}

if anyof (
          address :is "from" "calendar-notification@google.com",
          address :is "from" "calendar-noreply@google.com"
          )
{
  set "level3" "Calendar";
}

if anyof (
          address :is "from" "voice-noreply@google.com",
          address :contains "from" "@txt.voice.google.com"
          )
{
  set "level3" "Voice";
}

if anyof (
          address :is "from" "noreply-googleplay@google.com",
          address :is "from" "googleplay-noreply@google.com"
          )
{
  set "level3" "Play";
}

if anyof (
          address :contains "from" "@plus.google.com"
          )
{
  set "level3" "Plus";
}

# ==================================================================================================
#
# Youtube
#
# ==================================================================================================
if anyof (
          address :is "from" "no-reply@youtube.com",
          address :is "from" "noreply@youtube.com"
          )
{
  set "level1" "Businesses";
  set "level2" "Google";
  set "level3" "Youtube";
}
