# {{ ansible_managed }}

require ["variables", "mailbox"];
global ["level1", "level2", "level3", "level4", "level5", "level6", "level7"];

if header :contains "Subject" [
                               "confirm your subscription",
                               "confirmation of subscription",
                               "subscription confirmation",
                               "please confirm subscription",
                               "confirmation instructions",
                               "confirm mailing list subscription"
]
{
  set "level3" "Account";
}
