# {{ ansible_managed }}

require ["include", "variables", "envelope", "fileinto", "subaddress", "mailbox"];
global "autonomy_detail";

if envelope :matches :detail "to" "*" {
  # Save name in ${sort} in all lowercase except for the first letter
  set :lower :upperfirst "autonomy_detail" "${1}";
}

