require ["include", "variables", "envelope", "mailbox","regex"];
global ["autonomy_explicit_group", "autonomy_explicit_subgroup", "autonomy_detected_domain"];

# ==================================================================================================
#
# Dropbox
#
# ==================================================================================================
if anyof (
          address :contains "from" "dropbox.com",
          address :contains "from" "dropboxmail.com"
          )
{
 set "autonomy_explicit_group" "Dropbox";
}

# ==================================================================================================
#
# Facebook
#
# ==================================================================================================
if anyof (
          address :contains "from" "facebookmail.com"
)
{
  set "autonomy_explicit_group" "Facebook";
}

# ==================================================================================================
#
# Firefox
#
# ==================================================================================================
if anyof (
          address :contains "from" "firefox.com"
          )
{
 set "autonomy_explicit_group" "Firefox";
}

# ==================================================================================================
#
# Google
#
# ==================================================================================================
if anyof (
          address :contains "from" "google.com",
          address :contains "from" "googlemail.com"
          )
{
 set "autonomy_explicit_group" "Google";
}

# ==================================================================================================
#
# ID.me
#
# ==================================================================================================
if anyof (
    address :contains "from" "id.me",
    address :contains "from" "troopid.com"
          )
{
 set "autonomy_explicit_group" "ID.me";
}

# ==================================================================================================
#
# LinkedIn
#
# connections@linkedin.com
# emailconfirm@linkedin.com
# groups-noreply@linkedin.com
# invitations@linkedin.com
# invitations-noreply@linkedin.com
# jobs-listings@linkedin.com
# jobs-noreply@linkedin.com
# member@linkedin.com
# messages-noreply@bounce.linkedin.command
# messages-noreply@linkedin.com
# news@linkedin.com
# notifications-noreply@linkedin.com
# password@linkedin.com
# security-noreply@linkedin.com
# welcome@linkedin.com
#
# ==================================================================================================
if anyof (
          address :contains "from" "linkedin.com"
          )
{
  set "autonomy_explicit_group" "LinkedIn";
}

# ==================================================================================================
#
# Pinterest
#
# editorial@pinterest.com
# community@pinterest.com
# confirm@pintrest.com
# pinbot@pintrest.com
# weekly@pintrest.com
# news@pintrest.com
#
# ==================================================================================================
if anyof (
          address :contains "from" "pinterest.com"
          )
{
 set "autonomy_explicit_group" "Pinterest";
}

# ==================================================================================================
#
# Reddit
#
# ==================================================================================================
if anyof (
          address :is "from" "noreply@reddit.com",
          address :is "from" "noreply@redditmail.com"
          )
{
 set "autonomy_explicit_group" "Reddit";
}

# ==================================================================================================
#
# Twitter
#
# confirm@twitter.com
# verify@twitter.com
#
# ==================================================================================================
if anyof (
          address :contains "from" "twitter.com"
          )
{
 set "autonomy_explicit_group" "Twitter";
}

# ==================================================================================================
#
# Youtube
#
# ==================================================================================================
if anyof (
          address :is "from" "no-reply@youtube.com",
          address :is "from" "noreply@youtube.com"
          )
{
set "autonomy_explicit_group" "Google";
set "autonomy_explicit_subgroup" "Youtube";
}

# ==================================================================================================
#
# Catchall Domain Sort
#
# ==================================================================================================
if envelope :is :domain "from" "*" {
  set :lower :upperfirst "autonomy_detected_domain" "${1}";
}
