# {{ ansible_managed }}

require ["include", "variables", "fileinto", "mailbox", "envelope", "subaddress", "regex", "imap4flags"];
global ["level1", "level2", "level3", "level4", "level5", "level6", "level7"];

if anyof (
  address :contains "from" "notifications",
  address :contains "from" "promo",
  address :contains "from" "deals",
  address :contains "from" "store-news",
  address :contains "from" "store_news",
  address :contains "from" "store-offers",
  address :contains "from" "announcements",
  address :contains "from" "newsletter",
  address :contains "from" "newsletters",
  address :contains "from" "videogames-store",
  header "Precedence" "list",
  header "Precedence" "bulk"
)
{
  set "level3" "Advertisements";
}

if anyof (
  address :contains "from" "billing",
  address :contains "from" "orders",
  address :contains "from" "receipts",
  allof (
    address :contains "from" "info",
    anyof (
      header :contains "Subject" "bill",
      header :contains "Subject" "payment"
    )
  )
)
{
  set "level3" "Bills and Receipts";
}

if anyof (
  address :contains "from" "alerts",
  address :contains "from" "account-updates",
  address :contains "from" "account-update",
  address :contains "from" "payment-update",
  address :contains "from" "info",
  address :contains "from" "accounts",
  address :contains "from" "notice"
)
{
  set "level3" "Account";
}

if anyof (
  address :contains "from" "shipping",
  address :contains "from" "shipment-tracking",
  address :contains "from" "ship-confirm",
  address :contains "from" "auto-confirm"
)
{
  set "level3" "Shipping";
}

if anyof (
  address :contains "from" "Video.Appointment"
)
{
  set "level3" "Appointments";
}

{% if dovecot_bounce_folder_name is truthy %}
if allof (
  address :localpart :is "from" ["postmaster", "mailer-daemon", "MAILER-DAEMON"],
  not string :is "level1" "Systems"
)
{
  fileinto "{{ dovecot_bounce_folder_name }}";
  stop;
}
{% endif %}
