# {{ ansible_managed }}

require ["include", "variables", "fileinto", "mailbox", "envelope", "subaddress", "regex", "imap4flags"];
global ["level1", "level2", "level3", "level4", "level5", "level6", "level7"];

# ==================================================================================================
#
# Sort based on category, sort, and subsort variables
#
# TODO: There has got to be a better way.
#
# ==================================================================================================
if not string :is "${level1}" "" {
set :upperfirst "level1" "${level1}";
set "sorted_mailbox" "/${level1}";
} else {
set "sorted_mailbox" "";
}

if not string :is "${level2}" "" {
set :upperfirst "level2" "${level2}";
set "sorted_mailbox" "${sorted_mailbox}/${level2}";
}

if not string :is "${level3}" "" {
set :upperfirst "level3" "${level3}";
set "sorted_mailbox" "${sorted_mailbox}/${level3}";
}

if not string :is "${level4}" "" {
set :upperfirst "level4" "${level4}";
set "sorted_mailbox" "${sorted_mailbox}/${level4}";
}

if not string :is "${level5}" "" {
set :upperfirst "level5" "${level5}";
set "sorted_mailbox" "${sorted_mailbox}/${level5}";
}

if not string :is "${level6}" "" {
set :upperfirst "level2" "${level6}";
set "sorted_mailbox" "${sorted_mailbox}/${level6}";
}

if not string :is "${level7}" "" {
set :upperfirst "level7" "${level7}";
set "sorted_mailbox" "${sorted_mailbox}/${level7}";
}


if anyof (
  not string :is "${sorted_mailbox}" ""
) {
      fileinto :create "{{ __main_folder }}${sorted_mailbox}";
      stop;
  } else {
      fileinto "{{ __main_folder }}";
      stop;
  }
