# {{ ansible_managed }}

require ["variables", "envelope", "fileinto", "subaddress", "mailbox","regex"];
global ["level1", "level2", "level3", "level4", "level5", "level6", "level7"];

# ==================================================================================================
#
# Mailer Daemon (Auto responders)
#
# ==================================================================================================
if anyof (
          address :contains "from" "mailer-daemon@",
          address :contains "from" "postmaster@"
          )
{
  set "level3" "Mailer Daemon"
}

