# {{ ansible_managed }}
{# ============================================================================================== #}
{#                                                                                                #}
{# For clarity with the final configuration file, we only generate a configuration file with      #}
{# settings that are different from the default settings. (Work in Progress)                      #}
{#                                                                                                #}
{# ============================================================================================== #}
{% if openssh_port != __openssh_port -%}
  Port "{{ openssh_port }}"
{% endif %}
AddressFamily "{{ openssh_addrfamily }}"
{% if openssh_listen_ipv4 != __openssh_listen_ipv4 -%}
  #ListenAddress {{ openssh_listen_ipv4 }}
{% endif %}
{% if openssh_listen_ipv6 != __openssh_listen_ipv6 -%}
  #ListenAddress {{ openssh_listen_ipv6 }}
{% endif %}

HostKey {{ openssh_host_key }}
HostCertificate  {{ sshca_host_certificate_file }}

# Ciphers and keying
#RekeyLimit default none

{# Logging #}
#SyslogFacility AUTH
#LogLevel INFO

{# Authentication #}
AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u
TrustedUserCAKeys {{ sshca_userca_certificate }}
{% if openssh_authorized_keys_file is defined -%}
  AuthorizedKeysFile	{{ openssh_authorized_keys_file }}
{% endif %}
#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody
{% if openssh_permit_empty_passwords != __openssh_permit_empty_passwords -%}
  PermitEmptyPasswords {{ openssh_permit_empty_passwords }}
{% endif %}
{# ============================================================================================== #}
{#                                                                                                #}
{# Change to yes to enable challenge-response passwords (beware issues with                       #}
{# some PAM modules and threads)                                                                  #}
{#                                                                                                #}
{# Set this to 'yes' to enable PAM authentication, account processing,                            #}
{# and session processing. If this is enabled, PAM authentication will                            #}
{# be allowed through the ChallengeResponseAuthentication and                                     #}
{# PasswordAuthentication.  Depending on your PAM configuration,                                  #}
{# PAM authentication via ChallengeResponseAuthentication may bypass                              #}
{# the setting of "PermitRootLogin without-password".                                             #}
{# If you just want the PAM account and session checks to run without                             #}
{# PAM authentication, then enable this but set PasswordAuthentication                            #}
{# and ChallengeResponseAuthentication to 'no'.                                                   #}
{#                                                                                                #}
{# ============================================================================================== #}
{% if openssh_use_pam != __openssh_use_pam -%}
  UsePAM {{ openssh_use_pam }}
{% endif %}
{# To disable tunneled clear text passwords, change to no here! #}
{% if openssh_password_authentication != __openssh_password_authentication -%}
  PasswordAuthentication {{ openssh_password_authentication }}
{% endif %}
{% if openssh_challenge_response_auth != __openssh_challenge_response_auth -%}
  ChallengeResponseAuthentication {{ openssh_challenge_response_auth }}
{% endif %}
{% if openssh_permit_root_login != __openssh_permit_root_login -%}
  PermitRootLogin {{ openssh_permit_root_login }}
{% endif %}
#LoginGraceTime 2m
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10
#PubkeyAuthentication yes
{% if openssh_host_based_authentication is defined -%}
  HostbasedAuthentication {{ openssh_host_based_authentication }}
{% endif %}
{% if openssh_ignore_user_known_hosts is defined -%}
  IgnoreUserKnownHosts {{ openssh_ignore_user_known_hosts }}
{% endif %}
{% if openssh_ignore_rhosts is defined -%}
  IgnoreRhosts {{ openssh_ignore_rhosts }}
{% endif %}

{# Kerberos options #}
{% if openssh_kerberos_authentication is defined -%}
  #KerberosAuthentication {{ openssh_kerberos_authentication }}
{% endif %}
{% if openssh_kerberos_or_local_password is defined -%}
  #KerberosOrLocalPasswd {{ openssh_kerberos_or_local_password }}
{% endif %}
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

{# ============================================================================================== #}
{#                                                                                                #}
{# GSSAPI options                                                                                 #}
{#                                                                                                #}
{# If we are in a smart card environment, we want to use the smart card public key authentication #}
{# instead.                                                                                       #}
{#                                                                                                #}
{# ============================================================================================== #}
{% if not rebeldream_smart_card_login %}
{% if openssh_gssapi_authentication != __openssh_gssapi_authentication -%}
  GSSAPIAuthentication {{ openssh_gssapi_authentication }}
{% endif %}
{% if openssh_gssapi_cleanup_credentials != __openssh_gssapi_cleanup_credentials -%}
  GSSAPICleanupCredentials {{ openssh_gssapi_cleanup_credentials }}
{% endif %}
{% if openssh_gssapi_key_exchange != __openssh_gssapi_key_exchange -%}
  GSSAPIKeyExchange {{ openssh_gssapi_key_exchange }}
{% endif %}
{% if openssh_gssapi_store_credentials_on_rekey != __openssh_gssapi_store_credentials_on_rekey -%}
  GSSAPIStoreCredentialsOnRekey {{ openssh_gssapi_store_credentials_on_rekey }}
{% endif %}
{% if openssh_gssapi_strict_accept_or_check != __openssh_gssapi_strict_accept_or_check -%}
  GSSAPIStrictAcceptorCheck {{ openssh_gssapi_strict_accept_or_check }}
{% endif %}
{% endif %}

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
{% if openssh_x11_forwarding != __openssh_x11_forwarding -%}
  X11Forwarding {{ openssh_x11_forwarding }}
{% endif %}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
{% if openssh_print_motd != __openssh_print_motd -%}
  PrintMotd {{ openssh_print_motd }}
{% endif %}
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
{% if openssh_use_dns != __openssh_use_dns -%}
  UseDNS {{ openssh_use_dns }}
{% endif %}
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

{# no default banner path #}
{#Banner none #}

{# Allow client to pass locale environment variables #}
AcceptEnv LANG LC_*

{# override default of no subsystems #}
Subsystem	sftp	/usr/lib/openssh/sftp-server

{# Example of overriding settings on a per-user basis #}
{# #Match User anoncvs #}
{# #	X11Forwarding no #}
{# #	AllowTcpForwarding no #}
{# #	PermitTTY no #}
{# #	ForceCommand cvs server #}
