dn: CN=nsUniqueId,CN=Schema,CN=Configuration,DC={{ rebeldream_domain.split('.')[0] }},DC={{ rebeldream_domain.split('.')[1] }},DC={{ rebeldream_domain.split('.')[2] }}
changetype: add
objectClass: top
objectClass: attributeSchema
attributeID: 2.16.840.1.113730.3.1.542
cn: nsUniqueId
name: nsUniqueId
lDAPDisplayName: nsUniqueId
description: MANDATORY: nsUniqueId compatability
attributeSyntax: 2.5.5.10
oMSyntax: 4
isSingleValued: TRUE
searchFlags: 9
objectCategory: CN=Attribute-Schema,CN=Schema,CN=Configuration,DC={{ rebeldream_domain.split('.')[0] }},DC={{ rebeldream_domain.split('.')[1] }},DC={{ rebeldream_domain.split('.')[2] }}
schemaIDGUID:: PTIIe1aUKi0To2hxU1zg==

dn: CN=nsOrgPerson,CN=Schema,CN=Configuration,DC={{ rebeldream_domain.split('.')[0] }},DC={{ rebeldream_domain.split('.')[1] }},DC={{ rebeldream_domain.split('.')[2] }}
changetype: add
objectClass: top
objectClass: attributeSchema
cn: nsOrgPerson
name: nsOrgPerson
description: MANDATORY: Netscape DS compat person
lDAPDisplayName: nsOrgPerson
subClassOf: top
objectClassCategory: 3
defaultObjectCategory: CN=nsOrgPerson,CN=Schema,CN=Configuration,DC={{ rebeldream_domain.split('.')[0] }},DC={{ rebeldream_domain.split('.')[1] }},DC={{ rebeldream_domain.split('.')[2] }}
mayContain: nsUniqueId


attributeID: 1.3.6.1.1.16.4
cn: entryUUID
name: entryUUID
lDAPDisplayName: entryUUID
description: MANDATORY: entryUUID compatability
attributeSyntax: 2.5.5.10
oMSyntax: 4
isSingleValued: TRUE
searchFlags: 9
objectCategory: CN=Attribute-Schema,${SCHEMADN}
schemaIDGUID:: mqcwg4e++kmQIA2VphN1oQ==

dn: CN=User,CN=Schema,CN=Configuration,DC={{ rebeldream_org_unit_name | upper }},DC={{ rebeldream_org_name | upper }},DC={{ rebeldream_tld | upper }}
changetype: modify
replace: auxiliaryClass
auxiliaryClass: ldapPublicKey
auxiliaryClass: posixAccount
auxiliaryClass: shadowAccount
auxiliaryClass: nsOrgPerson
