{{ ansible_managed | comment }}
# ==================================================================================================
#
# Samba Configuration File
#
# ==================================================================================================
[global]
netbios name = {{ inventory_hostname.split('.')[0] | upper }}
workgroup = {{ ansible_domain.split('.')[0] | upper }}
realm = {{ ansible_domain | upper }}
security = {{ samba_security }}

# Logging
max log size = 1000
log file = /var/log/samba/log.%m
log level = {{ samba_log_level }}
# ==================================================================================================
#
# User Settings
#
# ==================================================================================================
username map = /etc/samba/user.map

# Idmap Settings
# idmap config for ...
idmap config * : backend = tdb
idmap config * : range = 3000-7999
# idmap config for {{ ansible_domain.split('.')[0] | upper }} domain
idmap config {{ ansible_domain.split('.')[0] | upper }} : backend = ad
idmap config {{ ansible_domain.split('.')[0] | upper }} : schema_mode = rfc2307
idmap config {{ ansible_domain.split('.')[0] | upper }} : range = 100000-99999999
idmap config {{ ansible_domain.split('.')[0] | upper }} : unix_nss_info = yes
idmap config {{ ansible_domain.split('.')[0] | upper }} : unix_primary_group = yes

# Winbind Settings
winbind enum users = {{ winbind_enum_users }}
winbind enum groups = {{ winbind_enum_groups }}
winbind refresh tickets = {{ winbind_refresh_tickets }}

# ==================================================================================================
#
# Misc
#
# ==================================================================================================
# Used for SSH Single Sign On
dedicated keytab file = /etc/krb5.keytab
kerberos method = secrets and keytab

{% if samba_shares is defined -%}
  # Enable ACL Support
  vfs objects = acl_xattr
  map acl inherit = yes
  #acl_xattr: ignore system acls = yes
  #inherit owner = unix only

  server min protocol = SMB2
  server max protocol = SMB3

  # ==================================================================================================
  #
  # Share settings
  #
  # ==================================================================================================


  {% for share in samba_shares -%}
    [{{ share.name }}]
    path = {{ share.path }}
    read only = No
    {% if share.extended_options is defined -%}
      {% for option in share.extended_options -%}
        {{ option }}
      {% endfor %}
    {% endif %}

{% endfor %}
{% endif %}
