# {{ ansible_managed }}
<VirtualHost *:80>
	ServerName {{ item.name }}

  # ACME Certificate
  DocumentRoot /srv/www/{{ item.name }}

  <Directory /srv/www/{{ item.name }}/.well-known/>
  Options +FollowSymLinks
  AllowOverride All
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
  </IfModule>
  <IfModule mod_authz_core.c>
    Require all granted
  </IfModule>
  DirectoryIndex index.html
</Directory>

	Redirect / https://{{ item.name }}/
</VirtualHost>

<VirtualHost *:443>
	ServerName {{ item.name }}
	ServerAdmin webmaster@{{ item.name }}
{% if item.alias is defined %}
  ServerAlias {{ item.alias }}
{% endif %}

	DocumentRoot /srv/www/{{ item.name }}

	<Directory /srv/www/{{ item.name }}>
		Options +FollowSymLinks
		AllowOverride All
		<IfVersion >= 2.3>
			Require all granted
		</IfVersion>
		<IfVersion < 2.3>
			         order allow,deny
			         allow from all
		           </IfVersion>

RewriteEngine On
RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/w/index.php [PT,L]
RewriteRule ^/*$ %{DOCUMENT_ROOT}/w/index.php [PT,L]

{% if mediawiki_kerberos_ad_sso -%} 
  AuthType Kerberos
  Krb5Keytab /etc/apache2/{{ item.name }}.keytab
  KrbServiceName Any 
  KrbLocalUserMapping On
  KrbAuthRealms {{ rebeldream_domain | upper }}
  AuthLDAPBindDN "cn={{ mediawiki_ldap_authenticator }},{{ mediawiki_ldap_userdn }}" 
  AuthLDAPBindPassword "{{ mediawiki_ldap_password }}" 
  AuthLDAPURL "ldap://dc.{{ rebeldream_domain }}/{{ mediawiki_ldap_userdn }}?sAMAccountName,mail,displayName?sub?(objectClass=*)" 
  Require ldap-attribute attribute="value" 
{% endif %} 

</Directory>


<Directory /srv/www/{{ item.name }}/config>
	Options -FollowSymLinks
	AllowOverride None
  <IfModule mod_php7.c>
    php_admin_flag engine off
  </IfModule>
  <IfModule mod_php5.c>
    php_admin_flag engine off
  </IfModule>
</Directory>

<Directory /srv/www/{{ item.name }}/w/images>
	Options -FollowSymLinks
	AllowOverride None
  <IfModule mod_php7.c>
    php_admin_flag engine off
  </IfModule>
  <IfModule mod_php5.c>
    php_admin_flag engine off
  </IfModule>
</Directory>

<Directory /srv/www/{{ item.name }}/w/upload>
	Options -FollowSymLinks
	AllowOverride None
  <IfModule mod_php7.c>
    php_admin_flag engine off
  </IfModule>
  <IfModule mod_php5.c>
    php_admin_flag engine off
  </IfModule>
</Directory>

<Directory /srv/www/{{ item.name }}/.well-known/acme-challenges>
	Options -FollowSymLinks
	AllowOverride None
</Directory>

{% if item.ssl_certificate_key_file is defined -%}
  SSLEngine on
{% endif %}
SSLCertificateKeyFile "{{ item.ssl_certificate_key_file }}"
SSLCertificateFile "{{ item.ssl_certificate_file }}"
SSLCertificateChainFile "{{ item.ssl_certificate_chain_file }}"
#SSLCACertificatePath /etc/ssl/certs/
SSLCACertificateFile "{{ rebeldream_component_ca_file }}"
#SSLCARevocationPath /etc/apache2/ssl.crl/
SSLCARevocationFile "{{ rebeldream_component_crl_file }}"
#SSLVerifyClient require
#SSLVerifyDepth  10
#SSLOptions +FakeBasicAuth +ExportCertData +StrictRequire

<FilesMatch "\.(cgi|shtml|phtml|php)$">
	SSLOptions +StdEnvVars
</FilesMatch>
<Directory /usr/lib/cgi-bin>
	SSLOptions +StdEnvVars
</Directory>

#LogLevel info ssl:warn
LogLevel debug

ErrorLog ${APACHE_LOG_DIR}/{{ item.name }}/error.log
CustomLog ${APACHE_LOG_DIR}/{{ item.name }}/access.log combined

</VirtualHost>
