# {{ ansible_managed }}

{% if inventory_hostname not in groups['samba_domain_controllers'] %}
{% if autonomy_bind_acls is defined %}
{% for acl in autonomy_bind_acls %}
acl {{ acl['name'] }} {
{% if acl['networks'] is defined %}
{% for net in acl['networks'] %}
  {{ net }};
{% endfor %}
{% endif %}
{% if acl['servers'] is defined -%}
{% for srv in acl['servers'] %}
  {{ srv }};
{% endfor %}
{% endif %}
};

{% endfor %}
{% endif %}
{% endif %}
options {
  directory "{{ autonomy_bind_cache_dir }}";
{# version statement for security to avoid hacking known weaknesses #}
{# if the real version number is revealed #}
  version "{{ autonomy_bind_version }}";
  dnssec-validation {{ autonomy_bind_dnssec_validation }};
  listen-on {
{% for item in autonomy_bind_listen_on_ipv4 %}
    {{ item }};
{% endfor %}
  };
  listen-on-v6 {
{% for item in autonomy_bind_listen_on_ipv6 %}
    {{ item }};
{% endfor %}
  };
{% if inventory_hostname in groups['samba_domain_controllers'] %}
  tkey-gssapi-keytab "/var/lib/samba/bind-dns/dns.keytab";
{% else %}
  allow-query { {{ autonomy_common_bind_allow_query }}; };
  allow-transfer { {{ autonomy_bind_allow_transfer }}; };
{# enable recursive queries #}
  recursion {{ autonomy_bind_recursion }};
  allow-recursion { {{ autonomy_bind_allow_recursion }}; };
{% if autonomy_bind_auth_nxdomain != __autonomy_bind_auth_nxdomain %}
  auth-nxdomain {{ autonomy_bind_auth_nxdomain }};
{% endif %}
{% if autonomy_bind_max_cache_ttl != __autonomy_bind_max_cache_ttl %}
  max-cache-ttl {{ autonomy_bind_max_cache_ttl }};
{% endif %}
{% if autonomy_bind_stale_answer_enable != __autonomy_bind_stale_answer_enable %}
  stale-answer-enable {{ autonomy_bind_stale_answer_enable }};
{% endif %}
{% if autonomy_bind_stale_cache_enable != __autonomy_bind_stale_cache_enable %}
  stale-cache-enable {{ autonomy_bind_stale_cache_enable }};
{% endif %}
{% if autonomy_bind_max_stale_ttl != __autonomy_bind_max_stale_ttl %}
  max-stale-ttl {{ autonomy_bind_max_stale_ttl }};
{% endif %}
{% if autonomy_bind_stale_answer_ttl != __autonomy_bind_stale_answer_ttl %}
  stale-answer-ttl {{ autonomy_bind_stale_answer_ttl }};
{% endif %}
{# TODO: Ensure eligibility is at least 6 seconds longer than the trigger #}
  prefetch {{ autonomy_bind_prefetch_trigger }} {{ autonomy_bind_prefetch_eligibility }};
{% endif %}

{% if autonomy_bind_forwarders is truthy %}
  forwarders {
  {% for item in autonomy_bind_forwarders %}
    {{ item }};
  {% endfor %}
  };
  forward {{ autonomy_bind_forward }};
{% endif %}

{% if inventory_hostname not in groups['samba_domain_controllers'] %}
{% if autonomy_common_dns_rpz_enabled and autonomy_common_dns_rpz_zones is truthy %}
  response-policy {
  {# Ensure Disabled Policies are First #}
  {% for rpz in autonomy_common_dns_rpz_zones -%}
    {%- if rpz["policy"] == "disabled" -%}
    zone {{ rpz['name'] }} policy {{ rpz["policy"] }};
    {% endif -%}
  {% endfor -%}
  {% for rpz in autonomy_common_dns_rpz_zones -%}
    {%- if rpz["policy"] != "disabled" -%}
    zone {{ rpz['name'] }}{% if rpz['policy'] != 'given' %} policy {{ rpz["policy"] }}{% endif %};
    {% endif -%}
  {% endfor -%}
}{% if autonomy_bind_rpz_break_dnssec is truthy %} break-dnssec {{ autonomy_bind_rpz_break_dnssec }}{% endif %};
{% endif %}
{% endif %}
};
