# {{ ansible_managed }}

{% if inventory_hostname not in groups['samba_domain_controllers'] %}
# Include key files
{% for localzone in autonomy_bind_forwardzones -%}
{% if localzone['type'] == "primary" -%}
  include "{{ bind_key_dir }}/{{ localzone['name'] }}.key";
{% endif %}
{% if localzone['samba_controlled'] is defined and localzone['samba_controlled'] -%}
  include "{{ bind_key_dir }}/{{ localzone['name'] }}.key";
{% endif %}
{% endfor %}
include "/etc/bind/rndc.key";
{% endif %}

{% if inventory_hostname not in groups['samba_domain_controllers'] %}
{% if autonomy_bind_forwardzones is defined %}
# ==================================================================================================
#
# Primary Zone Definitions
#
# ==================================================================================================
{% for localzone in autonomy_bind_forwardzones -%}
{% if localzone['type'] == "primary" -%}
  zone "{{ localzone['domain'] }}" {
  type primary;
  notify no;
  allow-query { trusted; };
  allow-transfer { trusteddns; };
{% if localzone['file'] is defined %}
  file "{{ localzone['file'] }}";
{% else %}
  allow-update { key {{ localzone['name'] }}; };
  file "{{ bind_zone_dir }}/db.{{ localzone['domain'] }}";
{% endif %}
};
{% endif %}

{% endfor %}
{% endif %}

{% if autonomy_bind_reversezones is defined %}
# ==================================================================================================
#
# Reverse Zone Definitions
#
# ==================================================================================================
{% for localzone in autonomy_bind_reversezones -%}
{% if localzone['type'] == "primary" %}
zone "{{ localzone['name'].split('.')[1] }}.{{ localzone['name'].split('.')[0] }}.in-addr.arpa" {
  type {{ bind_primary_zone }};
  notify no;
  allow-query { trusted; };
  allow-transfer { trusteddns; };
  allow-update { key {{ localzone['update_key'] }}; };
  file "{{ bind_zone_dir }}/db.{{ localzone['name'] }}"; # zone file path
  };
{% endif %}

{% endfor %}
{% endif %}

# ==================================================================================================
#
# Secondary Zone Definitions
#
# ==================================================================================================
{% if autonomy_bind_forwardzones is defined %}
{% for localzone in autonomy_bind_forwardzones -%}
{% if localzone['type'] == "secondary" %}
zone "{{ localzone['domain'] }}" {
  type secondary;
  notify no;
  allow-query { trusted; };
  primaries {
  {% for ns in localzone['nameservers'] %}
    {{ ns }};
  {% endfor %}
};
  file "{{ bind_cache_dir }}/db.{{ localzone.domain }}"; # zone file path
};
{% endif %}

{% endfor %}
{% endif %}

{% if autonomy_bind_reversezones is defined %}
{% for localzone in autonomy_bind_reversezones -%}
{% if localzone['type'] == "secondary" -%}
  zone "{{ localzone['name'].split('.')[1] }}.{{ localzone['name'].split('.')[0] }}.in-addr.arpa" {
  type secondary;
  notify no;
  allow-query { trusted; };
  primaries {
  {% for ns in localzone['nameservers'] %}
    {{ ns }};
  {% endfor %}
};
  file "{{ bind_cache_dir }}/db.{{ localzone['name'] }}"; # zone file path
};
{% endif %}

{% endfor %}
{% endif %}
{% endif %}
