{{ ansible_managed | comment }}

// This is the primary configuration file for the BIND DNS server named.
//
// Please read /usr/share/doc/bind9/README.Debian.gz for information on the 
// structure of BIND configuration files in Debian, *BEFORE* you customize 
// this configuration file.
//
// If you are just adding zones, please do that in /etc/bind/named.conf.local

include "{{ bind_options_file }}";
include "{{ autonomy_bind_logging_file }}";
include "{{ bind_local_file }}";
include "{{ bind_default_zone_file }}";
{% if groups['samba_domain_controllers'] is defined %}
{% if inventory_hostname in groups['samba_domain_controllers'] -%}
  include "/var/lib/samba/bind-dns/named.conf";
{% endif %}
{% endif %}
