# {{ ansible_managed }}

{% if autonomy_common_gnupg_keyservers is truthy %}
{% for server in autonomy_common_gnupg_keyservers %}
keyserver {{ server.name }}
  {%- if server.options is defined -%}
    {%- for option in server.options -%}
      {{ " " }}{{ option }}
    {%- endfor %}
  {% endif +%}
{%+ endfor %}
{% endif %}

# Tor
{% if autonomy_common_gnupg_use_tor -%}
  use-tor
{% endif %}
