# {{ ansible_managed }}
[libdefaults]
    default_realm = {{ rebeldream_domain | upper }}
    dns_lookup_realm = false
    dns_lookup_kdc = true

[realms]
{{ rebeldream_domain | upper }} = {
{% if rebeldream_smart_card_login %}
  pkinit_require_eku = true
  enable-pkinit = yes
  pkinit_identity = FILE:/etc/ssl/certs/{{ rebeldream_fqdn }}.pem,/etc/ssl/private/{{ rebeldream_fqdn }}.key
  pkinit_anchors = FILE:{{ rebeldream_component_ca_chain_file }}
  pkinit_principal_in_certificate = yes
  pkinit_win2k = no
  pkinit_win2k_require_binding = yes
{% endif %}
{% if groups['samba_file_servers'] is defined %}
{% if inventory_hostname in groups['samba_file_servers'] %}
  auth_to_local = RULE:[2:{{ rebeldream_org_unit_name | upper }}\$1]
{% endif %}
{% endif %}
  #auth_to_local = DEFAULT
  }

[domain_realm]
  {{ rebeldream_domain }} = {{ rebeldream_domain | upper }}
  .{{ rebeldream_domain }} = {{ rebeldream_domain | upper }}



