; ==================================================================================================
;
; BIND data file for {{ bind_zone }}
;
; {{ ansible_managed }}
;
; ==================================================================================================
$TTL	{{ bind_zone_ttl }}
@	IN	SOA	{{ bind_zone_soa }}. {{ bind_zone_admin }}. (
{{ bind_zone_serial_number.ljust(20) }}  ; Serial
{{ bind_zone_refresh.ljust(20) }}  ; Refresh
{{ bind_zone_retry.ljust(20) }}  ; Retry
{{ bind_zone_expire.ljust(20) }}  ; Expire
{{ bind_zone_negative_cache_ttl.ljust(20) }}  ; Negative Cache TTL
)  
;
{% for ns in bind_zone_dnsservers -%}
  {{ '@'.ljust(10) }}{{ 'IN'.ljust(4) }}{{ 'NS'.ljust(6) }}{{ ns.name }}.{{ bind_zone }}.
{% endfor %}


{% for ns in bind_zone_dnsservers -%}
  {{ ns.name }}.{{ bind_zone }}.      IN A      {{ ns.address_ipv4 }}
{% endfor %}
{% if zone_address_ipv4 is defined -%}
  {{ '@'.ljust(10) }}{{ 'IN'.ljust(4) }}{{ 'A'.ljust(6) }}{{ zone_address_ipv4 }}
{% endif %}
