# {{ ansible_managed }}

include "/etc/bind/ansible.key";
include "/etc/bind/rndc.key";

{% for localzone in bind_zones -%}
  zone "{{ localzone.name }}" {
  type primary;
  notify no;
  allow-query { any; };
  allow-transfer { any; };
{% if localzone.file is defined %}
  file "{{ localzone.file }}";
{% else %}
  allow-update { key ansible; };
  file "{{ bind_zone_dir }}/db.{{ localzone.name }}";
{% endif %}
};

{% endfor %}

{% for localzone in bind_reverse_zones -%}
zone "{{ localzone.name.split('.')[1] }}.{{ localzone.name.split('.')[0] }}.in-addr.arpa" {
  type primary;
  notify no;
  allow-query { any; };
  allow-transfer { any; };
  allow-update { key ansible; };
  file "{{ bind_zone_dir }}/db.{{ localzone.name }}"; # zone file path
};

{% endfor %}

{% if bind_secondary_zones is defined -%}
{% for localzone in bind_secondary_zones -%}
zone "{{ localzone.name }}" {
  type secondary;
  notify no;
  allow-query { any; };
  primaries {
    192.168.2.1;
    192.168.2.2;
  };
  file "{{ bind_cache_dir }}/db.{{ localzone.name }}"; # zone file path
};
    
  {% endfor %}
{% endif %}
