{{ ansible_managed | comment }}

{% if bind_acls is defined -%}
  {% for acl in bind_acls -%}
    acl {{ acl['name'] }} {
    {% if acl['networks'] is defined %}
      {% for net in acl['networks'] %}
        {{ net }};
      {% endfor %}
    {% endif %}
    {% if acl['servers'] is defined %}
      {% for srv in acl['servers'] %}
        {{ srv }};
      {% endfor %}
    {% endif %}
    };
  {% endfor %}
{% endif %}

options {
  directory "/var/cache/bind";
  recursion yes; #enable recursive queries

  listen-on { any; };
  listen-on-v6 { any; };

  allow-query { trusted; };
  allow-transfer { trusteddns; };

  dnssec-validation {{ bind_dnssec_validation }};

  auth-nxdomain no;    # conform to RFC1035

{% if groups['samba_domain_controllers'] is defined %}
{% if inventory_hostname in groups['samba_domain_controllers'] %}
  tkey-gssapi-keytab "/var/lib/samba/bind-dns/dns.keytab";
{% endif %}
{% endif %}

};

{# logging {  #}
{# channel simple_log {  #}
{# file "/var/log/bind/bind.log" versions 3 size 5m;  #}
{# severity debug;  #}
{# print-time yes;  #}
{# print-severity yes;  #}
{# print-category yes;  #}
{# };  #}
{# category default{  #}
{# simple_log;  #}
{# };  #}
{# };  #}
