# {{ansible_managed|comment}}

deb https://archive.raspberrypi.org/debian/ {{ rebeldream_raspberrypi_distribution_release }} main ui
{% if rebeldream_use_source_code_repos %}
deb-src https://archive.raspberrypi.org/debian/ {{ rebeldream_raspberrypi_distribution_release }} main ui
{% endif %}
