# {{ ansible_managed }}

{% for item in autonomy_zones %}
{% if item.type == "public" %}
{{ item.domain }} {{ item.domain }}:{{ opendkim_mail_service }}:{{ opendkim_key_dir }}/{{ opendkim_mail_service }}_{{ item.name }}.private
{% endif %}
{% endfor %}
