{{ inventory_hostname }}  REJECT
{{ autonomy_common_zone_domain }}  REJECT
mail.{{ autonomy_common_zone_domain }} REJECT
{{ autonomy_common_root_domain }}  REJECT
mail.{{ autonomy_common_root_domain }}  REJECT
