# {{ ansible_managed }}

{#
#
# Postfix master process configuration file.  For details on the format
# of the file, see the master(5) manual page (command: "man 5 master" or
# on-line: http://www.postfix.org/master.5.html).
#
# Do not forget to execute "postfix reload" after editing this file.
#
#}
# ==================================================================================================
# service           type        private unpriv  chroot  wakeup  maxproc command + args
#                               (yes)   (yes)   (no)    (never) (100)
# ==================================================================================================
{% for service in __postfix_master_service_configuration %}
{%- if service.enabled is defined and service.enabled is false -%}#{%- endif -%}
{{ service.name.ljust(20) }}{{ service.type.ljust(12) }}
  {%- if service.type == "inet" -%}
    {{ "n".ljust(8) }}
  {%- elif service.private == __postfix_master_default_service_private -%}
    {{ "-".ljust(8) }}
  {%- elif service.private -%}
    {{ "y".ljust(8) }}
  {%- else -%}
    {{ "n".ljust(8) }}
  {%- endif -%}
  {%- if service.run_unprivileged == __postfix_master_default_service_run_unprivileged -%}
    {{ "-".ljust(8) }}
  {%- elif service.run_unprivileged -%}
    {{ "y".ljust(8) }}
  {%- else -%}
    {{ "n".ljust(8) }}
  {%- endif -%}
  {%- if service.run_chroot == __postfix_master_default_service_run_chroot -%}
    {{ "-".ljust(8) }}
  {%- elif service.run_chroot -%}
    {{ "y".ljust(8) }}
  {%- else -%}
    {{ "n".ljust(8) }}
  {%- endif -%}
  {%- if service.wakeup_time == __postfix_master_default_service_wakeup_time -%}
    {{ "-".ljust(8) }}
  {%- else -%}
    {{ service.wakeup_time.ljust(8) }}
  {%- endif -%}
  {%- if service.process_limit == __postfix_master_default_service_process_limit -%}
    {{ "-".ljust(8) }}
  {%- else -%}
    {{ service.process_limit.ljust(8) }}
  {%- endif -%}
  {{ service.service_command }}
{% if service.args is truthy %}
{% for option in service.args %}
  {% if service.enabled is defined and service.enabled is false %}#{% endif %}{{ option }}
{% endfor %}
{% endif %}
{% endfor %}
