# {{ ansible_managed }}

deb {{ deb_repo_url }} {{ system_upgrade_distribution_release }} {{ deb_repos }}
{% if autonomy_apt_use_source_code_repos -%}
  deb-src {{ deb_repo_url }} {{ system_upgrade_distribution_release }} {{ deb_repos }}
{% endif %}

{% if autonomy_debian_repo_security_upgrades -%}
  deb {{ debian_security_updates_repo_url }} {{ system_upgrade_distribution_release }}/updates {{ deb_repos }}
{% if autonomy_apt_use_source_code_repos -%}
  deb-src {{ debian_security_updates_repo_url }} {{ system_upgrade_distribution_release }}/updates {{ deb_repos }}
{% endif %}
{% endif %}

{% if debian_repo_updates -%}
  deb {{ deb_repo_url }} {{ system_upgrade_distribution_release }}-updates {{ deb_repos }}
{% if autonomy_apt_use_source_code_repos -%}
    deb-src {{ deb_repo_url }} {{ system_upgrade_distribution_release }}-updates {{ deb_repos }}
{% endif %}
{% endif %}
{% if debian_repo_backports -%}
  deb {{ deb_repo_url }} {{ system_upgrade_distribution_release }}-backports {{ deb_repos }}
{% if autonomy_apt_use_source_code_repos -%}
    deb-src {{ deb_repo_url }} {{ system_upgrade_distribution_release }}-backports {{ deb_repos }}
{% endif %}
{% endif %}
